In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import matplotlib.pyplot as plt
import json
import seaborn as sns
import re
from IPython.core.display import HTML

%matplotlib inline

In [2]:
URL = 'https://www.city-data.com/crime/crime-Panama-City-Beach-Florida.html'

In [3]:
response = requests.get(URL)

In [4]:
response.status_code

200

In [5]:
soup = BS(response.text)

In [6]:
soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})

<table class="table tabBlue tblsort tblsticky sortable" id="crimeTab">
<caption>Crime rates in Panama City Beach by year</caption>
<thead>
<tr><th width="200"><h4>Type</h4></th>
<th><h4>2007</h4></th>
<th><h4>2008</h4></th>
<th><h4>2009</h4></th>
<th><h4>2010</h4></th>
<th><h4>2011</h4></th>
<th><h4>2012</h4></th>
<th><h4>2013</h4></th>
<th><h4>2014</h4></th>
<th><h4>2015</h4></th>
<th><h4>2016</h4></th>
<th><h4>2017</h4></th>
<th><h4>2018</h4></th>
<th><h4>2019</h4></th>
<th><h4>2020</h4></th>
</tr>
</thead>
<tbody>
<tr class="g0"><td><b>Murders</b><br/><small>(per 100,000)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(16.4)</small></td><td>1<br/><small>(7.9)</small></td><td>1<br/><small>(7.8)</small></td><td>1<br/><small>(7.7)</small></td><td>2<br/><small>(15.5)</small></td><td>2<br/><small>(15.1)</small></td><td>2<br/><small>(15.7)</small></td></tr>
<tr class="g1"><td><b>Rapes</b><br/><small>(per 100,000)</small></td><td>14<br/><small>(94.9)</small></td><td>16<br/><small>(103.5)</small></td><td>15<br/><small>(95.2)</small></td><td>14<br/><small>(116.5)</small></td><td>10<br/><small>(82.1)</small></td><td>10<br/><small>(81.6)</small></td><td>19<br/><small>(159.8)</small></td><td>20<br/><small>(164.1)</small></td><td>18<br/><small>(142.6)</small></td><td>19<br/><small>(147.9)</small></td><td>12<br/><small>(92.4)</small></td><td>20<br/><small>(154.6)</small></td><td>20<br/><small>(150.8)</small></td><td>12<br/><small>(94.5)</small></td></tr>
<tr class="g2"><td><b>Robberies</b><br/><small>(per 100,000)</small></td><td>23<br/><small>(155.9)</small></td><td>17<br/><small>(110.0)</small></td><td>13<br/><small>(82.5)</small></td><td>21<br/><small>(174.7)</small></td><td>18<br/><small>(147.8)</small></td><td>25<br/><small>(204.0)</small></td><td>32<br/><small>(269.1)</small></td><td>37<br/><small>(303.6)</small></td><td>33<br/><small>(261.4)</small></td><td>25<br/><small>(194.6)</small></td><td>13<br/><small>(100.1)</small></td><td>21<br/><small>(162.4)</small></td><td>16<br/><small>(120.6)</small></td><td>10<br/><small>(78.7)</small></td></tr>
<tr class="g3"><td><b>Assaults</b><br/><small>(per 100,000)</small></td><td>60<br/><small>(406.6)</small></td><td>48<br/><small>(310.6)</small></td><td>55<br/><small>(349.0)</small></td><td>59<br/><small>(490.9)</small></td><td>55<br/><small>(451.5)</small></td><td>67<br/><small>(546.6)</small></td><td>48<br/><small>(403.7)</small></td><td>64<br/><small>(525.2)</small></td><td>83<br/><small>(657.5)</small></td><td>73<br/><small>(568.4)</small></td><td>83<br/><small>(639.1)</small></td><td>67<br/><small>(518.0)</small></td><td>95<br/><small>(716.1)</small></td><td>107<br/><small>(842.3)</small></td></tr>
<tr class="g4"><td><b>Burglaries</b><br/><small>(per 100,000)</small></td><td>257<br/><small>(1,742)</small></td><td>198<br/><small>(1,281)</small></td><td>210<br/><small>(1,333)</small></td><td>156<br/><small>(1,298)</small></td><td>194<br/><small>(1,593)</small></td><td>200<br/><small>(1,632)</small></td><td>222<br/><small>(1,867)</small></td><td>159<br/><small>(1,305)</small></td><td>165<br/><small>(1,307)</small></td><td>113<br/><small>(879.8)</small></td><td>122<br/><small>(939.4)</small></td><td>90<br/><small>(695.8)</small></td><td>90<br/><small>(678.4)</small></td><td>56<br/><small>(440.8)</small></td></tr>
<tr class="g5"><td><b>Thefts</b><br/><small>(per 100,000)</small></td><td>783<br/><small>(5,307)</small></td><td>795<br/><small>(5,145)</small></td><td>902<br/><small>(5,724)</small></td><td>911<br/><small>(7,580)</small></td><td>911<br/><small>(7,478)</small></td><td>1,090<br/><small>(8,893)</small></td><td>1,015<br/><small>(8,537)</small></td><td>931<br/><small>(7,640)</small></td><td>934<br/><small>(7,399)</small></td><td>993<br/><small>(7,731)</small></td><td>811<br/><small>(6,245)</small></td><td>866<br/><small>(6,695)</small></td><td>748<br/><small>(5,638)</small></td><td>689<br/><small>(5,424)</small></td></tr>
<tr class="g6"><td><b>Auto thefts</b><br/><small>(per 100,000)</small></td><td>3<br/><small>(20.3)</small></td><td>0<br/><small>(0.0)</small></td><td>4<br/><small>(25.4)</small></td><td>2<br/><small>(16.6)</small></td><td>6<br/><small>(49.3)</small></td><td>2<br/><small>(16.3)</small></td><td>1<br/><small>(8.4)</small></td><td>12<br/><small>(98.5)</small></td><td>9<br/><small>(71.3)</small></td><td>10<br/><small>(77.9)</small></td><td>5<br/><small>(38.5)</small></td><td>4<br/><small>(30.9)</small></td><td>4<br/><small>(30.2)</small></td><td>11<br/><small>(86.6)</small></td></tr>
<tr class="g7"><td><b>Arson</b><br/><small>(per 100,000)</small></td><td>2<br/><small>(13.6)</small></td><td>4<br/><small>(25.9)</small></td><td>3<br/><small>(19.0)</small></td><td>4<br/><small>(33.3)</small></td><td>1<br/><small>(8.2)</small></td><td>1<br/><small>(8.2)</small></td><td>3<br/><small>(25.2)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(15.6)</small></td><td>3<br/><small>(23.1)</small></td><td>1<br/><small>(7.7)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td></tr>
</tbody><tfoot class="g8"><tr class="nosort"><td style="white-space:normal"><b>City-Data.com crime index</b></td><td>539.8</td><td>473.4</td><td>495.0</td><td>639.2</td><td>631.3</td><td>707.0</td><td>762.2</td><td>765.1</td><td>733.0</td><td>683.0</td><td>565.8</td><td>625.9</td><td>605.6</td><td>553.9</td></tr>
</tfoot>
</table>

In [7]:
table_html = str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'}))

In [8]:
HTML(table_html)

# Panama City crime data

In [9]:
panama_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [10]:
panama_crime = panama_crime.T
new_header = panama_crime.iloc[0] #grab the first row for the header
panama_crime = panama_crime[1:] #take the data less the header row
panama_crime.columns = new_header

In [11]:
panama_crime = panama_crime.reset_index().rename(columns = {'index':'Year'})

In [12]:
panama_crime[['Murders', 'Murders (per 100,000)']] = panama_crime['Murders(per 100,000)'].str.split('\(', expand=True)
panama_crime['Murders (per 100,000)'] = panama_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Rapes', 'Rapes (per 100,000)']] = panama_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
panama_crime['Rapes (per 100,000)'] = panama_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Robberies', 'Robberies (per 100,000)']] = panama_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
panama_crime['Robberies (per 100,000)'] = panama_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Assaults', 'Assaults (per 100,000)']] = panama_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
panama_crime['Assaults (per 100,000)'] = panama_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Burglaries', 'Burglaries (per 100,000)']] = panama_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
panama_crime['Burglaries (per 100,000)'] = panama_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Thefts', 'Thefts (per 100,000)']] = panama_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
panama_crime['Thefts (per 100,000)'] = panama_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = panama_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
panama_crime['Auto Thefts (per 100,000)'] = panama_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Arson', 'Arson (per 100,000)']] = panama_crime['Arson(per 100,000)'].str.split('\(', expand=True)
panama_crime['Arson (per 100,000)'] = panama_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime = panama_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
panama_crime = panama_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
panama_crime = panama_crime.rename(columns = {'Type':'Year'})
panama_crime['location'] = 'Panama City Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Murders (per 100,000)'] = panama_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Rapes (per 100,000)'] = panama_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Robberies (per 100,000)'] = panama_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Assaults (per 100,000)'] = panama_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Burglaries (per 100,000)'] = panama_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Thefts (per 100,000)'] = panama_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Auto Thefts (per 100,000)'] = panama_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3487550406.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Arson (per 100,000)'] = panama_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Isle of Palms crime data

In [13]:
URL = 'https://www.city-data.com/crime/crime-Isle-of-Palms-South-Carolina.html'

In [14]:
response = requests.get(URL)
soup = BS(response.text)

In [15]:
isle_palms_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [16]:
isle_palms_crime = isle_palms_crime.T
new_header = isle_palms_crime.iloc[0] #grab the first row for the header
isle_palms_crime = isle_palms_crime[1:] #take the data less the header row
isle_palms_crime.columns = new_header

In [17]:
isle_palms_crime = isle_palms_crime.reset_index().rename(columns = {'index':'Year'})

In [18]:
isle_palms_crime[['Murders', 'Murders (per 100,000)']] = isle_palms_crime['Murders(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Murders (per 100,000)'] = isle_palms_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Rapes', 'Rapes (per 100,000)']] = isle_palms_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Rapes (per 100,000)'] = isle_palms_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Robberies', 'Robberies (per 100,000)']] = isle_palms_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Robberies (per 100,000)'] = isle_palms_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Assaults', 'Assaults (per 100,000)']] = isle_palms_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Assaults (per 100,000)'] = isle_palms_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Burglaries', 'Burglaries (per 100,000)']] = isle_palms_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Burglaries (per 100,000)'] = isle_palms_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Thefts', 'Thefts (per 100,000)']] = isle_palms_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Thefts (per 100,000)'] = isle_palms_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = isle_palms_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Auto Thefts (per 100,000)'] = isle_palms_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Arson', 'Arson (per 100,000)']] = isle_palms_crime['Arson(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Arson (per 100,000)'] = isle_palms_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime = isle_palms_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
isle_palms_crime = isle_palms_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
isle_palms_crime = isle_palms_crime.rename(columns = {'Type':'Year'})
isle_palms_crime['location'] = 'Isle of Palms'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Murders (per 100,000)'] = isle_palms_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Rapes (per 100,000)'] = isle_palms_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Robberies (per 100,000)'] = isle_palms_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Assaults (per 100,000)'] = isle_palms_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Burglaries (per 100,000)'] = isle_palms_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Thefts (per 100,000)'] = isle_palms_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Auto Thefts (per 100,000)'] = isle_palms_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1255262869.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Arson (per 100,000)'] = isle_palms_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Gulfport crime data

In [19]:
URL = 'https://www.city-data.com/crime/crime-Gulfport-Mississippi.html'

In [20]:
response = requests.get(URL)
soup = BS(response.text)

In [21]:
gulfport_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [22]:
gulfport_crime = gulfport_crime.T
new_header = gulfport_crime.iloc[0] #grab the first row for the header
gulfport_crime = gulfport_crime[1:] #take the data less the header row
gulfport_crime.columns = new_header

In [23]:
gulfport_crime = gulfport_crime.reset_index().rename(columns = {'index':'Year'})

In [24]:
gulfport_crime[['Murders', 'Murders (per 100,000)']] = gulfport_crime['Murders(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Murders (per 100,000)'] = gulfport_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Rapes', 'Rapes (per 100,000)']] = gulfport_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Rapes (per 100,000)'] = gulfport_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Robberies', 'Robberies (per 100,000)']] = gulfport_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Robberies (per 100,000)'] = gulfport_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Assaults', 'Assaults (per 100,000)']] = gulfport_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Assaults (per 100,000)'] = gulfport_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Burglaries', 'Burglaries (per 100,000)']] = gulfport_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Burglaries (per 100,000)'] = gulfport_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Thefts', 'Thefts (per 100,000)']] = gulfport_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Thefts (per 100,000)'] = gulfport_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = gulfport_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Auto Thefts (per 100,000)'] = gulfport_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Arson', 'Arson (per 100,000)']] = gulfport_crime['Arson(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Arson (per 100,000)'] = gulfport_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime = gulfport_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
gulfport_crime = gulfport_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
gulfport_crime = gulfport_crime.rename(columns = {'Type':'Year'})
gulfport_crime['location'] = 'Gulfport Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Murders (per 100,000)'] = gulfport_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Rapes (per 100,000)'] = gulfport_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Robberies (per 100,000)'] = gulfport_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Assaults (per 100,000)'] = gulfport_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Burglaries (per 100,000)'] = gulfport_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Thefts (per 100,000)'] = gulfport_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Auto Thefts (per 100,000)'] = gulfport_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3858712668.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Arson (per 100,000)'] = gulfport_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Tybee Island crime data

In [25]:
URL = 'https://www.city-data.com/crime/crime-Tybee-Island-Georgia.html'

In [26]:
response = requests.get(URL)
soup = BS(response.text)

In [27]:
tybee_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [28]:
tybee_crime = tybee_crime.T
new_header = tybee_crime.iloc[0] #grab the first row for the header
tybee_crime = tybee_crime[1:] #take the data less the header row
tybee_crime.columns = new_header

In [29]:
tybee_crime = tybee_crime.reset_index().rename(columns = {'index':'Year'})

In [30]:
tybee_crime[['Murders', 'Murders (per 100,000)']] = tybee_crime['Murders(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Murders (per 100,000)'] = tybee_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Rapes', 'Rapes (per 100,000)']] = tybee_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Rapes (per 100,000)'] = tybee_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Robberies', 'Robberies (per 100,000)']] = tybee_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Robberies (per 100,000)'] = tybee_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Assaults', 'Assaults (per 100,000)']] = tybee_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Assaults (per 100,000)'] = tybee_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Burglaries', 'Burglaries (per 100,000)']] = tybee_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Burglaries (per 100,000)'] = tybee_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Thefts', 'Thefts (per 100,000)']] = tybee_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Thefts (per 100,000)'] = tybee_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = tybee_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Auto Thefts (per 100,000)'] = tybee_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Arson', 'Arson (per 100,000)']] = tybee_crime['Arson(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Arson (per 100,000)'] = tybee_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime = tybee_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
tybee_crime = tybee_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
tybee_crime = tybee_crime.rename(columns = {'Type':'Year'})
tybee_crime['location'] = 'Tybee Island'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Murders (per 100,000)'] = tybee_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Rapes (per 100,000)'] = tybee_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Robberies (per 100,000)'] = tybee_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Assaults (per 100,000)'] = tybee_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Burglaries (per 100,000)'] = tybee_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Thefts (per 100,000)'] = tybee_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Auto Thefts (per 100,000)'] = tybee_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\713134683.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Arson (per 100,000)'] = tybee_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Miramar crime data

In [31]:
URL = 'https://www.city-data.com/crime/crime-Miramar-Florida.html'

In [32]:
response = requests.get(URL)
soup = BS(response.text)

In [33]:
miramar_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [34]:
miramar_crime = miramar_crime.T
new_header = miramar_crime.iloc[0] #grab the first row for the header
miramar_crime = miramar_crime[1:] #take the data less the header row
miramar_crime.columns = new_header

In [35]:
miramar_crime = miramar_crime.reset_index().rename(columns = {'index':'Year'})

In [36]:
miramar_crime[['Murders', 'Murders (per 100,000)']] = miramar_crime['Murders(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Murders (per 100,000)'] = miramar_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Rapes', 'Rapes (per 100,000)']] = miramar_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Rapes (per 100,000)'] = miramar_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Robberies', 'Robberies (per 100,000)']] = miramar_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Robberies (per 100,000)'] = miramar_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Assaults', 'Assaults (per 100,000)']] = miramar_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Assaults (per 100,000)'] = miramar_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Burglaries', 'Burglaries (per 100,000)']] = miramar_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Burglaries (per 100,000)'] = miramar_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Thefts', 'Thefts (per 100,000)']] = miramar_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Thefts (per 100,000)'] = miramar_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = miramar_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Auto Thefts (per 100,000)'] = miramar_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Arson', 'Arson (per 100,000)']] = miramar_crime['Arson(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Arson (per 100,000)'] = miramar_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime = miramar_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
miramar_crime = miramar_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
miramar_crime = miramar_crime.rename(columns = {'Type':'Year'})
miramar_crime['location'] = 'Miramar Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Murders (per 100,000)'] = miramar_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Rapes (per 100,000)'] = miramar_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Robberies (per 100,000)'] = miramar_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Assaults (per 100,000)'] = miramar_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Burglaries (per 100,000)'] = miramar_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Thefts (per 100,000)'] = miramar_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Auto Thefts (per 100,000)'] = miramar_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\3739987592.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Arson (per 100,000)'] = miramar_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Orange Beach crime data

In [37]:
URL = 'https://www.city-data.com/crime/crime-Orange-Beach-Alabama.html'

In [38]:
response = requests.get(URL)
soup = BS(response.text)

In [39]:
orange_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [40]:
orange_crime = orange_crime.T
new_header = orange_crime.iloc[0] #grab the first row for the header
orange_crime = orange_crime[1:] #take the data less the header row
orange_crime.columns = new_header

In [41]:
orange_crime = orange_crime.reset_index().rename(columns = {'index':'Year'})

In [42]:
orange_crime[['Murders', 'Murders (per 100,000)']] = orange_crime['Murders(per 100,000)'].str.split('\(', expand=True)
orange_crime['Murders (per 100,000)'] = orange_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Rapes', 'Rapes (per 100,000)']] = orange_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
orange_crime['Rapes (per 100,000)'] = orange_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Robberies', 'Robberies (per 100,000)']] = orange_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
orange_crime['Robberies (per 100,000)'] = orange_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Assaults', 'Assaults (per 100,000)']] = orange_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
orange_crime['Assaults (per 100,000)'] = orange_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Burglaries', 'Burglaries (per 100,000)']] = orange_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
orange_crime['Burglaries (per 100,000)'] = orange_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Thefts', 'Thefts (per 100,000)']] = orange_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
orange_crime['Thefts (per 100,000)'] = orange_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = orange_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
orange_crime['Auto Thefts (per 100,000)'] = orange_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Arson', 'Arson (per 100,000)']] = orange_crime['Arson(per 100,000)'].str.split('\(', expand=True)
orange_crime['Arson (per 100,000)'] = orange_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime = orange_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
orange_crime = orange_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
orange_crime = orange_crime.rename(columns = {'Type':'Year'})
orange_crime['location'] = 'Orange Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Murders (per 100,000)'] = orange_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Rapes (per 100,000)'] = orange_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Robberies (per 100,000)'] = orange_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Assaults (per 100,000)'] = orange_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Burglaries (per 100,000)'] = orange_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Thefts (per 100,000)'] = orange_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Auto Thefts (per 100,000)'] = orange_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\846310428.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Arson (per 100,000)'] = orange_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Dauphin Island crime data

In [43]:
URL = 'https://www.city-data.com/crime/crime-Dauphin-Island-Alabama.html'

In [44]:
response = requests.get(URL)
soup = BS(response.text)

In [45]:
dauphin_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [46]:
dauphin_crime = dauphin_crime.T
new_header = dauphin_crime.iloc[0] #grab the first row for the header
dauphin_crime = dauphin_crime[1:] #take the data less the header row
dauphin_crime.columns = new_header

In [47]:
dauphin_crime = dauphin_crime.reset_index().rename(columns = {'index':'Year'})

In [48]:
dauphin_crime[['Murders', 'Murders (per 100,000)']] = dauphin_crime['Murders(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Murders (per 100,000)'] = dauphin_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Rapes', 'Rapes (per 100,000)']] = dauphin_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Rapes (per 100,000)'] = dauphin_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Robberies', 'Robberies (per 100,000)']] = dauphin_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Robberies (per 100,000)'] = dauphin_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Assaults', 'Assaults (per 100,000)']] = dauphin_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Assaults (per 100,000)'] = dauphin_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Burglaries', 'Burglaries (per 100,000)']] = dauphin_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Burglaries (per 100,000)'] = dauphin_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Thefts', 'Thefts (per 100,000)']] = dauphin_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Thefts (per 100,000)'] = dauphin_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = dauphin_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Auto Thefts (per 100,000)'] = dauphin_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Arson', 'Arson (per 100,000)']] = dauphin_crime['Arson(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Arson (per 100,000)'] = dauphin_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime = dauphin_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
dauphin_crime = dauphin_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
dauphin_crime = dauphin_crime.rename(columns = {'Type':'Year'})
dauphin_crime['location'] = 'Dauphin Island'

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Murders (per 100,000)'] = dauphin_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Rapes (per 100,000)'] = dauphin_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Robberies (per 100,000)'] = dauphin_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Assaults (per 100,000)'] = dauphin_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Burglaries (per 100,000)'] = dauphin_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Thefts (per 100,000)'] = dauphin_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Auto Thefts (per 100,000)'] = dauphin_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\4001413541.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Arson (per 100,000)'] = dauphin_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Merging All Beaches

In [49]:
all_crime_beaches = pd.merge(dauphin_crime, gulfport_crime,
         on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, isle_palms_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, miramar_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, orange_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, panama_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, tybee_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')

In [50]:
all_crime_beaches['Year'] = all_crime_beaches['Year'].astype(int)
all_crime_beaches['Crime Index'] = all_crime_beaches['Crime Index'].astype(float)
all_crime_beaches['Murders'] = all_crime_beaches['Murders'].astype(int)
all_crime_beaches['Rapes'] = all_crime_beaches['Rapes'].astype(int)
all_crime_beaches['Robberies'] = all_crime_beaches['Robberies'].astype(int)
all_crime_beaches['Assaults'] = all_crime_beaches['Assaults'].astype(int)
all_crime_beaches['Thefts'] = all_crime_beaches['Thefts'].str.replace(',', '').astype(int)
all_crime_beaches['Burglaries'] = all_crime_beaches['Burglaries'].str.replace(',', '').astype(int)
all_crime_beaches['Auto Thefts'] = all_crime_beaches['Auto Thefts'].astype(int)
all_crime_beaches['Arson'] = all_crime_beaches['Arson'].astype(int)

In [51]:
all_crime_beaches

Type,Year,Crime Index,Murders,"Murders (per 100,000)",Rapes,"Rapes (per 100,000)",Robberies,"Robberies (per 100,000)",Assaults,"Assaults (per 100,000)",Burglaries,"Burglaries (per 100,000)",Thefts,"Thefts (per 100,000)",Auto Thefts,"Auto Thefts (per 100,000)",Arson,"Arson (per 100,000)",location
0,2007,35.1,0,0.0,0,0.0,0,0.0,0,0.0,5,318.9,3,191.3,1,63.8,0,0.0,Dauphin Island
1,2008,230.5,0,0.0,0,0.0,1,62.3,0,0.0,24,1495.0,39,2430.0,2,124.6,0,0.0,Dauphin Island
2,2009,290.7,0,0.0,0,0.0,0,0.0,5,310.6,20,1242.0,49,3043.0,4,248.4,0,0.0,Dauphin Island
3,2010,304.5,0,0.0,0,0.0,0,0.0,3,242.3,27,2181.0,28,2262.0,2,161.6,0,0.0,Dauphin Island
4,2011,237.1,0,0.0,0,0.0,0,0.0,3,241.2,9,723.5,39,3135.0,2,160.8,0,0.0,Dauphin Island
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2016,198.5,0,0.0,0,0.0,1,32.0,3,96.0,6,192.1,116,3713.0,3,96.0,0,0.0,Tybee Island
93,2017,238.4,0,0.0,0,0.0,1,31.9,3,95.7,11,351.0,137,4371.0,4,127.6,0,0.0,Tybee Island
94,2018,318.6,0,0.0,2,63.5,0,0.0,7,222.4,17,540.0,142,4511.0,2,63.5,0,0.0,Tybee Island
95,2019,172.4,0,0.0,1,32.0,0,0.0,4,128.0,5,159.9,80,2559.0,3,96.0,0,0.0,Tybee Island
96,2020,124.3,0,0.0,0,0.0,0,0.0,0,0.0,6,195.3,75,2441.0,5,162.8,0,0.0,Tybee Island

In [52]:
crimes_agg = all_crime_beaches.groupby(['location'])['Murders (per 100,000)', 'Rapes (per 100,000)', 'Robberies (per 100,000)',
       'Assaults (per 100,000)', 'Burglaries (per 100,000)', 'Thefts (per 100,000)', 'Auto Thefts (per 100,000)', 
        'Arson (per 100,000)'].mean()
crimes_agg

C:\Users\bswil\AppData\Local\Temp\ipykernel_9856\1963980422.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  crimes_agg = all_crime_beaches.groupby(['location'])['Murders (per 100,000)', 'Rapes (per 100,000)', 'Robberies (per 100,000)',

Type,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto Thefts (per 100,000)","Arson (per 100,000)"
location,,,,,,,,
Dauphin Island,0.000000,33.885714,10.214286,187.214286,1021.664286,2907.835714,155.992857,0.000000
Gulfport Beach,9.742857,32.757143,122.450000,151.057143,1077.757143,3946.928571,286.985714,26.678571
Isle of Palms,1.635714,24.328571,8.028571,66.621429,688.085714,2291.000000,184.242857,1.671429
Miramar Beach,3.842857,28.242857,111.135714,220.150000,554.335714,1502.685714,220.378571,7.092857
Orange Beach,2.638462,53.092308,16.853846,143.569231,543.638462,3488.538462,112.700000,1.376923
Panama City Beach,6.735714,120.035714,168.957143,530.392857,1213.728571,6816.857143,40.728571,13.428571
Tybee Island,0.000000,25.828571,17.300000,110.300000,252.457143,2968.142857,90.828571,1.892857

In [53]:
no_murder = all_crime_beaches.loc[all_crime_beaches['Murders']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Murder'})
no_rape = all_crime_beaches.loc[all_crime_beaches['Rapes']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Rape'})
no_robberies = all_crime_beaches.loc[all_crime_beaches['Robberies']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Robberies'})
no_assaults = all_crime_beaches.loc[all_crime_beaches['Assaults']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Assaults'})
no_burglaries = all_crime_beaches.loc[all_crime_beaches['Burglaries']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Burglaries'})
no_thefts = all_crime_beaches.loc[all_crime_beaches['Thefts']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Thefts'})
no_auto_thefts = all_crime_beaches.loc[all_crime_beaches['Auto Thefts']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Auto_Thefts'})
no_arson = all_crime_beaches.loc[all_crime_beaches['Arson']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Arson'})

In [54]:
crimes_agg = pd.merge(crimes_agg, no_murder,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_rape,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_robberies,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_assaults,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_burglaries,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_thefts,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_auto_thefts,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_arson,
                        on='location', how='outer')

In [55]:
crimes_agg

,location,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto Thefts (per 100,000)","Arson (per 100,000)",Years_No_Murder,Years_No_Rape,Years_No_Robberies,Years_No_Assaults,Years_No_Burglaries,Years_No_Thefts,Years_No_Auto_Thefts,Years_No_Arson
0,Dauphin Island,0.000000,33.885714,10.214286,187.214286,1021.664286,2907.835714,155.992857,0.000000,14.0,11.0,12.0,3.0,NaN,NaN,1.0,14.0
1,Gulfport Beach,9.742857,32.757143,122.450000,151.057143,1077.757143,3946.928571,286.985714,26.678571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Isle of Palms,1.635714,24.328571,8.028571,66.621429,688.085714,2291.000000,184.242857,1.671429,13.0,6.0,9.0,2.0,NaN,NaN,NaN,13.0
3,Miramar Beach,3.842857,28.242857,111.135714,220.150000,554.335714,1502.685714,220.378571,7.092857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Orange Beach,2.638462,53.092308,16.853846,143.569231,543.638462,3488.538462,112.700000,1.376923,11.0,2.0,8.0,NaN,NaN,NaN,NaN,12.0
5,Panama City Beach,6.735714,120.035714,168.957143,530.392857,1213.728571,6816.857143,40.728571,13.428571,6.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0
6,Tybee Island,0.000000,25.828571,17.300000,110.300000,252.457143,2968.142857,90.828571,1.892857,14.0,8.0,9.0,3.0,1.0,NaN,NaN,13.0

In [56]:
murder = crimes_agg['Murders (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Murders (per 100,000)':'Murder_Rank'})
rapes = crimes_agg['Rapes (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Rapes (per 100,000)':'Rapes_Rank'})
robberies = crimes_agg['Robberies (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Robberies (per 100,000)':'Robberies_Rank'})
assaults = crimes_agg['Assaults (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Assaults (per 100,000)':'Assaults_Rank'})
burglaries = crimes_agg['Burglaries (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Burglaries (per 100,000)':'Burglaries_Rank'})
thefts = crimes_agg['Thefts (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Thefts (per 100,000)':'Thefts_Rank'})
auto_thefts = crimes_agg['Auto Thefts (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Auto Thefts (per 100,000)':'Auto_Thefts_Rank'})
arson = crimes_agg['Arson (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Arson (per 100,000)':'Arson_Rank'})

In [57]:
loc = crimes_agg['location'].tolist()
murder = crimes_agg['Murders (per 100,000)'].rank(method='min').tolist()
rapes = crimes_agg['Rapes (per 100,000)'].rank(method='min').tolist()
robberies = crimes_agg['Robberies (per 100,000)'].rank(method='min').tolist()
assaults = crimes_agg['Assaults (per 100,000)'].rank(method='min').tolist()
burglaries = crimes_agg['Burglaries (per 100,000)'].rank(method='min').tolist()
thefts = crimes_agg['Thefts (per 100,000)'].rank(method='min').tolist()
auto_thefts = crimes_agg['Auto Thefts (per 100,000)'].rank(method='min').tolist()
arson = crimes_agg['Arson (per 100,000)'].rank(method='min').tolist()

In [58]:
locations_ranked = pd.DataFrame({'location': loc, 'murder_rank': murder, 'rapes_rank': rapes, 'robberies_rank': robberies,
                                 'assaults_rank': assaults, 'burglaries_rank': burglaries, 'thefts_rank': thefts,
                                 'auto_thefts_rank': auto_thefts, 'arson_rank': arson})

In [59]:
locations_ranked['average_rank'] = (locations_ranked['murder_rank']+locations_ranked['rapes_rank']+locations_ranked['robberies_rank']+locations_ranked['assaults_rank']+locations_ranked['burglaries_rank']+locations_ranked['thefts_rank']+locations_ranked['auto_thefts_rank']+locations_ranked['arson_rank'])/8

In [60]:
locations_ranked

,location,murder_rank,rapes_rank,robberies_rank,assaults_rank,burglaries_rank,thefts_rank,auto_thefts_rank,arson_rank,average_rank
0,Dauphin Island,1.0,5.0,2.0,5.0,5.0,3.0,4.0,1.0,3.250
1,Gulfport Beach,7.0,4.0,6.0,4.0,6.0,6.0,7.0,7.0,5.875
2,Isle of Palms,3.0,1.0,1.0,1.0,4.0,2.0,5.0,3.0,2.500
3,Miramar Beach,5.0,3.0,5.0,6.0,3.0,1.0,6.0,5.0,4.250
4,Orange Beach,4.0,6.0,3.0,3.0,2.0,5.0,3.0,2.0,3.500
5,Panama City Beach,6.0,7.0,7.0,7.0,7.0,7.0,1.0,6.0,6.000
6,Tybee Island,1.0,2.0,4.0,2.0,1.0,4.0,2.0,4.0,2.500