In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import matplotlib.pyplot as plt
import json
import seaborn as sns
import re
from IPython.core.display import HTML

%matplotlib inline

In [2]:
URL = 'https://www.city-data.com/crime/crime-Panama-City-Beach-Florida.html'

In [3]:
response = requests.get(URL)

In [4]:
response.status_code

200

In [5]:
soup = BS(response.text)

In [6]:
soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})

<table class="table tabBlue tblsort tblsticky sortable" id="crimeTab">
<caption>Crime rates in Panama City Beach by year</caption>
<thead>
<tr><th width="200"><h4>Type</h4></th>
<th><h4>2007</h4></th>
<th><h4>2008</h4></th>
<th><h4>2009</h4></th>
<th><h4>2010</h4></th>
<th><h4>2011</h4></th>
<th><h4>2012</h4></th>
<th><h4>2013</h4></th>
<th><h4>2014</h4></th>
<th><h4>2015</h4></th>
<th><h4>2016</h4></th>
<th><h4>2017</h4></th>
<th><h4>2018</h4></th>
<th><h4>2019</h4></th>
<th><h4>2020</h4></th>
</tr>
</thead>
<tbody>
<tr class="g0"><td><b>Murders</b><br/><small>(per 100,000)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(16.4)</small></td><td>1<br/><small>(7.9)</small></td><td>1<br/><small>(7.8)</small></td><td>1<br/><small>(7.7)</small></td><td>2<br/><small>(15.5)</small></td><td>2<br/><small>(15.1)</small></td><td>2<br/><small>(15.7)</small></td></tr>
<tr class="g1"><td><b>Rapes</b><br/><small>(per 100,000)</small></td><td>14<br/><small>(94.9)</small></td><td>16<br/><small>(103.5)</small></td><td>15<br/><small>(95.2)</small></td><td>14<br/><small>(116.5)</small></td><td>10<br/><small>(82.1)</small></td><td>10<br/><small>(81.6)</small></td><td>19<br/><small>(159.8)</small></td><td>20<br/><small>(164.1)</small></td><td>18<br/><small>(142.6)</small></td><td>19<br/><small>(147.9)</small></td><td>12<br/><small>(92.4)</small></td><td>20<br/><small>(154.6)</small></td><td>20<br/><small>(150.8)</small></td><td>12<br/><small>(94.5)</small></td></tr>
<tr class="g2"><td><b>Robberies</b><br/><small>(per 100,000)</small></td><td>23<br/><small>(155.9)</small></td><td>17<br/><small>(110.0)</small></td><td>13<br/><small>(82.5)</small></td><td>21<br/><small>(174.7)</small></td><td>18<br/><small>(147.8)</small></td><td>25<br/><small>(204.0)</small></td><td>32<br/><small>(269.1)</small></td><td>37<br/><small>(303.6)</small></td><td>33<br/><small>(261.4)</small></td><td>25<br/><small>(194.6)</small></td><td>13<br/><small>(100.1)</small></td><td>21<br/><small>(162.4)</small></td><td>16<br/><small>(120.6)</small></td><td>10<br/><small>(78.7)</small></td></tr>
<tr class="g3"><td><b>Assaults</b><br/><small>(per 100,000)</small></td><td>60<br/><small>(406.6)</small></td><td>48<br/><small>(310.6)</small></td><td>55<br/><small>(349.0)</small></td><td>59<br/><small>(490.9)</small></td><td>55<br/><small>(451.5)</small></td><td>67<br/><small>(546.6)</small></td><td>48<br/><small>(403.7)</small></td><td>64<br/><small>(525.2)</small></td><td>83<br/><small>(657.5)</small></td><td>73<br/><small>(568.4)</small></td><td>83<br/><small>(639.1)</small></td><td>67<br/><small>(518.0)</small></td><td>95<br/><small>(716.1)</small></td><td>107<br/><small>(842.3)</small></td></tr>
<tr class="g4"><td><b>Burglaries</b><br/><small>(per 100,000)</small></td><td>257<br/><small>(1,742)</small></td><td>198<br/><small>(1,281)</small></td><td>210<br/><small>(1,333)</small></td><td>156<br/><small>(1,298)</small></td><td>194<br/><small>(1,593)</small></td><td>200<br/><small>(1,632)</small></td><td>222<br/><small>(1,867)</small></td><td>159<br/><small>(1,305)</small></td><td>165<br/><small>(1,307)</small></td><td>113<br/><small>(879.8)</small></td><td>122<br/><small>(939.4)</small></td><td>90<br/><small>(695.8)</small></td><td>90<br/><small>(678.4)</small></td><td>56<br/><small>(440.8)</small></td></tr>
<tr class="g5"><td><b>Thefts</b><br/><small>(per 100,000)</small></td><td>783<br/><small>(5,307)</small></td><td>795<br/><small>(5,145)</small></td><td>902<br/><small>(5,724)</small></td><td>911<br/><small>(7,580)</small></td><td>911<br/><small>(7,478)</small></td><td>1,090<br/><small>(8,893)</small></td><td>1,015<br/><small>(8,537)</small></td><td>931<br/><small>(7,640)</small></td><td>934<br/><small>(7,399)</small></td><td>993<br/><small>(7,731)</small></td><td>811<br/><small>(6,245)</small></td><td>866<br/><small>(6,695)</small></td><td>748<br/><small>(5,638)</small></td><td>689<br/><small>(5,424)</small></td></tr>
<tr class="g6"><td><b>Auto thefts</b><br/><small>(per 100,000)</small></td><td>3<br/><small>(20.3)</small></td><td>0<br/><small>(0.0)</small></td><td>4<br/><small>(25.4)</small></td><td>2<br/><small>(16.6)</small></td><td>6<br/><small>(49.3)</small></td><td>2<br/><small>(16.3)</small></td><td>1<br/><small>(8.4)</small></td><td>12<br/><small>(98.5)</small></td><td>9<br/><small>(71.3)</small></td><td>10<br/><small>(77.9)</small></td><td>5<br/><small>(38.5)</small></td><td>4<br/><small>(30.9)</small></td><td>4<br/><small>(30.2)</small></td><td>11<br/><small>(86.6)</small></td></tr>
<tr class="g7"><td><b>Arson</b><br/><small>(per 100,000)</small></td><td>2<br/><small>(13.6)</small></td><td>4<br/><small>(25.9)</small></td><td>3<br/><small>(19.0)</small></td><td>4<br/><small>(33.3)</small></td><td>1<br/><small>(8.2)</small></td><td>1<br/><small>(8.2)</small></td><td>3<br/><small>(25.2)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(15.6)</small></td><td>3<br/><small>(23.1)</small></td><td>1<br/><small>(7.7)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td></tr>
</tbody><tfoot class="g8"><tr class="nosort"><td style="white-space:normal"><b>City-Data.com crime index</b></td><td>539.8</td><td>473.4</td><td>495.0</td><td>639.2</td><td>631.3</td><td>707.0</td><td>762.2</td><td>765.1</td><td>733.0</td><td>683.0</td><td>565.8</td><td>625.9</td><td>605.6</td><td>553.9</td></tr>
</tfoot>
</table>

In [7]:
table_html = str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'}))

In [8]:
HTML(table_html)

# Panama City crime data

In [9]:
panama_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
panama_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),1(8.2),0(0.0),0(0.0),2(16.4),1(7.9),1(7.8),1(7.7),2(15.5),2(15.1),2(15.7)
1,"Rapes(per 100,000)",14(94.9),16(103.5),15(95.2),14(116.5),10(82.1),10(81.6),19(159.8),20(164.1),18(142.6),19(147.9),12(92.4),20(154.6),20(150.8),12(94.5)
2,"Robberies(per 100,000)",23(155.9),17(110.0),13(82.5),21(174.7),18(147.8),25(204.0),32(269.1),37(303.6),33(261.4),25(194.6),13(100.1),21(162.4),16(120.6),10(78.7)
3,"Assaults(per 100,000)",60(406.6),48(310.6),55(349.0),59(490.9),55(451.5),67(546.6),48(403.7),64(525.2),83(657.5),73(568.4),83(639.1),67(518.0),95(716.1),107(842.3)
4,"Burglaries(per 100,000)","257(1,742)","198(1,281)","210(1,333)","156(1,298)","194(1,593)","200(1,632)","222(1,867)","159(1,305)","165(1,307)",113(879.8),122(939.4),90(695.8),90(678.4),56(440.8)
5,"Thefts(per 100,000)","783(5,307)","795(5,145)","902(5,724)","911(7,580)","911(7,478)","1,090(8,893)","1,015(8,537)","931(7,640)","934(7,399)","993(7,731)","811(6,245)","866(6,695)","748(5,638)","689(5,424)"
6,"Auto thefts(per 100,000)",3(20.3),0(0.0),4(25.4),2(16.6),6(49.3),2(16.3),1(8.4),12(98.5),9(71.3),10(77.9),5(38.5),4(30.9),4(30.2),11(86.6)
7,"Arson(per 100,000)",2(13.6),4(25.9),3(19.0),4(33.3),1(8.2),1(8.2),3(25.2),1(8.2),0(0.0),2(15.6),3(23.1),1(7.7),0(0.0),0(0.0)
8,City-Data.com crime index,539.8,473.4,495.0,639.2,631.3,707.0,762.2,765.1,733.0,683.0,565.8,625.9,605.6,553.9

# Isle of Palms crime data

In [10]:
URL = 'https://www.city-data.com/crime/crime-Isle-of-Palms-South-Carolina.html'

In [11]:
response = requests.get(URL)
soup = BS(response.text)

In [12]:
isle_palms_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
isle_palms_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(22.9),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
1,"Rapes(per 100,000)",2(43.0),0(0.0),2(42.6),2(48.4),1(23.9),0(0.0),0(0.0),1(23.1),1(22.9),0(0.0),0(0.0),2(45.5),0(0.0),4(91.2)
2,"Robberies(per 100,000)",0(0.0),1(21.3),1(21.3),0(0.0),1(23.9),1(23.4),0(0.0),0(0.0),0(0.0),0(0.0),1(22.5),0(0.0),0(0.0),0(0.0)
3,"Assaults(per 100,000)",2(43.0),7(149.4),4(85.3),4(96.8),4(95.7),7(164.1),2(46.7),2(46.2),4(91.7),0(0.0),1(22.5),0(0.0),1(22.9),3(68.4)
4,"Burglaries(per 100,000)",25(537.3),"72(1,536)","49(1,045)","52(1,258)",39(932.8),32(750.3),28(653.7),29(669.3),17(389.6),30(678.9),18(405.5),10(227.5),20(458.1),4(91.2)
5,"Thefts(per 100,000)","179(3,847)","114(2,433)","150(3,198)","108(2,613)","138(3,301)","126(2,954)","107(2,498)","98(2,262)","93(2,131)","89(2,014)","49(1,104)","64(1,456)","53(1,214)","46(1,049)"
6,"Auto thefts(per 100,000)",9(193.4),15(320.1),4(85.3),4(96.8),4(95.7),6(140.7),5(116.7),17(392.3),4(91.7),7(158.4),8(180.2),8(182.0),16(366.5),7(159.6)
7,"Arson(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(23.4),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
8,City-Data.com crime index,249.9,266.8,265.5,258.4,250.4,221.8,164.4,196.4,202.3,140.8,98.2,125.1,114.5,147.8

# Gulfport crime data

In [13]:
URL = 'https://www.city-data.com/crime/crime-Gulfport-Mississippi.html'

In [14]:
response = requests.get(URL)
soup = BS(response.text)

In [15]:
gulfport_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
gulfport_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",4(6.2),8(12.2),4(5.7),6(8.9),12(17.6),3(4.3),2(2.8),3(4.2),8(11.0),10(13.8),10(13.7),4(5.5),12(16.6),10(13.9)
1,"Rapes(per 100,000)",27(41.9),20(30.4),18(25.7),23(33.9),22(32.3),17(24.5),18(25.4),22(30.6),16(22.0),27(37.2),27(37.1),27(37.3),29(40.1),29(40.2)
2,"Robberies(per 100,000)",165(256.0),122(185.7),91(130.1),67(98.8),94(138.1),61(87.9),67(94.5),69(96.1),79(108.6),97(133.5),83(114.0),86(118.8),66(91.2),44(61.0)
3,"Assaults(per 100,000)",90(139.6),71(108.1),36(51.5),65(95.9),64(94.0),43(62.0),71(100.2),49(68.2),96(132.0),94(129.4),181(248.7),272(375.7),134(185.1),234(324.4)
4,"Burglaries(per 100,000)","1,288(1,998)","946(1,440)","990(1,416)","924(1,363)","946(1,390)","819(1,181)",664(937.0),609(848.0),663(911.5),639(879.3),563(773.4),528(729.3),419(578.9),464(643.2)
5,"Thefts(per 100,000)","3,529(5,475)","2,824(4,298)","2,547(3,642)","2,651(3,910)","2,531(3,719)","2,238(3,226)","2,701(3,812)","2,828(3,938)","2,927(4,024)","3,007(4,138)","2,902(3,987)","2,854(3,942)","2,810(3,882)","2,355(3,264)"
6,"Auto thefts(per 100,000)",382(592.7),227(345.5),150(214.5),155(228.6),137(201.3),134(193.2),127(179.2),126(175.5),160(220.0),183(251.8),205(281.6),291(401.9),270(373.0),259(359.0)
7,"Arson(per 100,000)",24(37.2),19(28.9),16(22.9),14(20.7),13(19.1),16(23.1),20(28.2),24(33.4),19(26.1),26(35.8),16(22.0),16(22.1),10(13.8),29(40.2)
8,City-Data.com crime index,556.9,426.4,343.3,363.8,383.6,294.2,306.8,306.3,340.9,370.4,377.2,392.5,355.2,347.4

# Tybee Island crime data

In [16]:
URL = 'https://www.city-data.com/crime/crime-Tybee-Island-Georgia.html'

In [17]:
response = requests.get(URL)
soup = BS(response.text)

In [18]:
tybee_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
tybee_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
1,"Rapes(per 100,000)",2(53.0),0(0.0),2(51.1),0(0.0),0(0.0),0(0.0),0(0.0),2(65.4),3(96.6),0(0.0),0(0.0),2(63.5),1(32.0),0(0.0)
2,"Robberies(per 100,000)",3(79.5),0(0.0),0(0.0),1(33.4),0(0.0),0(0.0),0(0.0),2(65.4),0(0.0),1(32.0),1(31.9),0(0.0),0(0.0),0(0.0)
3,"Assaults(per 100,000)",7(185.5),3(75.4),6(153.3),5(167.2),0(0.0),4(129.2),0(0.0),3(98.2),6(193.3),3(96.0),3(95.7),7(222.4),4(128.0),0(0.0)
4,"Burglaries(per 100,000)",7(185.5),2(50.2),10(255.5),12(401.3),7(231.1),14(452.2),9(291.2),7(229.1),0(0.0),6(192.1),11(351.0),17(540.0),5(159.9),6(195.3)
5,"Thefts(per 100,000)","71(1,881)","65(1,633)","66(1,686)","94(3,144)","104(3,433)","98(3,165)","62(2,006)","104(3,403)","112(3,608)","116(3,713)","137(4,371)","142(4,511)","80(2,559)","75(2,441)"
6,"Auto thefts(per 100,000)",3(79.5),4(100.5),1(25.5),1(33.4),2(66.0),3(96.9),1(32.4),3(98.2),6(193.3),3(96.0),4(127.6),2(63.5),3(96.0),5(162.8)
7,"Arson(per 100,000)",1(26.5),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
8,City-Data.com crime index,197.9,91.9,158.9,200.0,158.8,191.9,103.2,251.6,275.8,198.5,238.4,318.6,172.4,124.3

# Miramar crime data

In [19]:
URL = 'https://www.city-data.com/crime/crime-Miramar-Florida.html'

In [20]:
response = requests.get(URL)
soup = BS(response.text)

In [21]:
miramar_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
miramar_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",7(6.1),5(4.5),7(6.5),9(7.4),4(3.2),2(1.6),4(3.1),4(3.0),5(3.6),5(3.6),3(2.1),6(4.2),3(2.1),4(2.8)
1,"Rapes(per 100,000)",26(22.8),48(42.8),35(32.3),34(27.9),40(32.3),31(24.6),37(28.3),43(32.5),42(30.4),28(20.0),33(23.3),39(27.3),29(20.2),44(30.7)
2,"Robberies(per 100,000)",202(177.1),197(175.8),174(160.6),170(139.3),192(155.2),163(129.4),162(123.7),126(95.2),125(90.4),133(94.8),92(65.1),84(58.7),71(49.5),59(41.1)
3,"Assaults(per 100,000)",363(318.3),297(265.0),308(284.2),327(267.9),278(224.7),341(270.6),273(208.5),244(184.4),280(202.4),280(199.6),280(198.1),208(145.3),207(144.4),242(168.7)
4,"Burglaries(per 100,000)","1,038(910.3)","1,030(919.2)","1,020(941.2)","1,262(1,034)",981(793.0),862(684.1),"1,070(817.3)",722(545.5),388(280.5),344(245.2),292(206.6),208(145.3),191(133.3),151(105.2)
5,"Thefts(per 100,000)","2,274(1,994)","2,361(2,107)","2,227(2,055)","2,099(1,720)","1,969(1,592)","1,901(1,509)","1,862(1,422)","1,849(1,397)","2,176(1,573)","2,117(1,509)","1,694(1,199)","1,644(1,149)","1,490(1,040)","1,107(771.6)"
6,"Auto thefts(per 100,000)",500(438.5),335(299.0),344(317.4),290(237.6),258(208.6),221(175.4),232(177.2),179(135.2),230(166.3),279(198.9),260(184.0),276(192.9),266(185.6),242(168.7)
7,"Arson(per 100,000)",10(8.8),14(12.5),16(14.8),13(10.7),9(7.3),11(8.7),14(10.7),6(4.5),8(5.8),8(5.7),3(2.1),5(3.5),3(2.1),3(2.1)
8,City-Data.com crime index,325.9,321.5,317.2,292.6,259.7,238.1,235.8,202.4,195.0,184.9,159.2,148.4,129.9,127.9

# Orange Beach crime data

In [22]:
URL = 'https://www.city-data.com/crime/crime-Orange-Beach-Alabama.html'

In [23]:
response = requests.get(URL)
soup = BS(response.text)

In [24]:
orange_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
orange_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(17.9),0(0.0),0(0.0),0(0.0),0(0.0),1(16.4),0(0.0),0(0.0)
1,"Rapes(per 100,000)",1(17.2),5(75.9),6(91.4),0(0.0),5(91.5),1(17.9),4(70.5),3(51.1),0(0.0),1(16.5),8(130.8),3(48.4),5(79.0)
2,"Robberies(per 100,000)",4(68.8),0(0.0),3(45.7),0(0.0),0(0.0),3(53.6),2(35.2),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(15.8)
3,"Assaults(per 100,000)",3(51.6),10(151.8),8(121.9),6(110.3),7(128.0),18(321.5),11(193.9),3(51.1),12(202.3),10(164.7),6(98.1),8(129.0),9(142.2)
4,"Burglaries(per 100,000)","66(1,136)",57(865.1),43(655.2),5(91.9),"61(1,116)",38(678.8),51(898.8),4(68.1),29(488.9),18(296.4),13(212.6),20(322.5),15(237.0)
5,"Thefts(per 100,000)","307(5,284)","281(4,265)","245(3,733)","224(4,117)","255(4,664)","247(4,412)","278(4,900)","81(1,379)","155(2,613)","165(2,717)","206(3,368)","136(2,193)","108(1,706)"
6,"Auto thefts(per 100,000)",11(189.3),6(91.1),5(76.2),4(73.5),14(256.1),4(71.5),7(123.4),1(17.0),3(50.6),6(98.8),7(114.5),9(145.1),10(158.0)
7,"Arson(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(17.9),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
8,City-Data.com crime index,350.8,329.5,312.5,199.0,383.9,360.1,374.5,112.4,183.2,183.4,315.7,186.4,193.9

# Dauphin Island crime data

In [25]:
URL = 'https://www.city-data.com/crime/crime-Dauphin-Island-Alabama.html'

In [26]:
response = requests.get(URL)
soup = BS(response.text)

In [27]:
dauphin_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]
dauphin_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
1,"Rapes(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),2(161.8),0(0.0),0(0.0),2(159.5),0(0.0),0(0.0),2(153.1),0(0.0)
2,"Robberies(per 100,000)",0(0.0),1(62.3),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),1(80.7),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
3,"Assaults(per 100,000)",0(0.0),0(0.0),5(310.6),3(242.3),3(241.2),1(80.5),2(161.8),3(242.1),3(241.2),6(478.5),1(79.1),4(314.0),3(229.7),0(0.0)
4,"Burglaries(per 100,000)",5(318.9),"24(1,495)","20(1,242)","27(2,181)",9(723.5),"34(2,738)","13(1,052)",3(242.1),9(723.5),7(558.2),8(632.4),"17(1,334)",10(765.7),4(297.0)
5,"Thefts(per 100,000)",3(191.3),"39(2,430)","49(3,043)","28(2,262)","39(3,135)","71(5,717)","50(4,045)","51(4,116)","34(2,733)","50(3,987)","50(3,953)","35(2,747)","21(1,608)",10(742.4)
6,"Auto thefts(per 100,000)",1(63.8),2(124.6),4(248.4),2(161.6),2(160.8),1(80.5),2(161.8),1(80.7),1(80.4),2(159.5),4(316.2),5(392.5),2(153.1),0(0.0)
7,"Arson(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0),0(0.0)
8,City-Data.com crime index,35.1,230.5,290.7,304.5,237.1,442.8,410.2,260.7,214.6,434.6,243.5,297.5,298.6,50.5