In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import matplotlib.pyplot as plt
import json
import seaborn as sns
import re
from IPython.core.display import HTML

%matplotlib inline

In [2]:
URL = 'https://www.city-data.com/crime/crime-Panama-City-Beach-Florida.html'

In [3]:
response = requests.get(URL)

In [4]:
response.status_code

200

In [5]:
soup = BS(response.text)

In [6]:
soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})

<table class="table tabBlue tblsort tblsticky sortable" id="crimeTab">
<caption>Crime rates in Panama City Beach by year</caption>
<thead>
<tr><th width="200"><h4>Type</h4></th>
<th><h4>2007</h4></th>
<th><h4>2008</h4></th>
<th><h4>2009</h4></th>
<th><h4>2010</h4></th>
<th><h4>2011</h4></th>
<th><h4>2012</h4></th>
<th><h4>2013</h4></th>
<th><h4>2014</h4></th>
<th><h4>2015</h4></th>
<th><h4>2016</h4></th>
<th><h4>2017</h4></th>
<th><h4>2018</h4></th>
<th><h4>2019</h4></th>
<th><h4>2020</h4></th>
</tr>
</thead>
<tbody>
<tr class="g0"><td><b>Murders</b><br/><small>(per 100,000)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(16.4)</small></td><td>1<br/><small>(7.9)</small></td><td>1<br/><small>(7.8)</small></td><td>1<br/><small>(7.7)</small></td><td>2<br/><small>(15.5)</small></td><td>2<br/><small>(15.1)</small></td><td>2<br/><small>(15.7)</small></td></tr>
<tr class="g1"><td><b>Rapes</b><br/><small>(per 100,000)</small></td><td>14<br/><small>(94.9)</small></td><td>16<br/><small>(103.5)</small></td><td>15<br/><small>(95.2)</small></td><td>14<br/><small>(116.5)</small></td><td>10<br/><small>(82.1)</small></td><td>10<br/><small>(81.6)</small></td><td>19<br/><small>(159.8)</small></td><td>20<br/><small>(164.1)</small></td><td>18<br/><small>(142.6)</small></td><td>19<br/><small>(147.9)</small></td><td>12<br/><small>(92.4)</small></td><td>20<br/><small>(154.6)</small></td><td>20<br/><small>(150.8)</small></td><td>12<br/><small>(94.5)</small></td></tr>
<tr class="g2"><td><b>Robberies</b><br/><small>(per 100,000)</small></td><td>23<br/><small>(155.9)</small></td><td>17<br/><small>(110.0)</small></td><td>13<br/><small>(82.5)</small></td><td>21<br/><small>(174.7)</small></td><td>18<br/><small>(147.8)</small></td><td>25<br/><small>(204.0)</small></td><td>32<br/><small>(269.1)</small></td><td>37<br/><small>(303.6)</small></td><td>33<br/><small>(261.4)</small></td><td>25<br/><small>(194.6)</small></td><td>13<br/><small>(100.1)</small></td><td>21<br/><small>(162.4)</small></td><td>16<br/><small>(120.6)</small></td><td>10<br/><small>(78.7)</small></td></tr>
<tr class="g3"><td><b>Assaults</b><br/><small>(per 100,000)</small></td><td>60<br/><small>(406.6)</small></td><td>48<br/><small>(310.6)</small></td><td>55<br/><small>(349.0)</small></td><td>59<br/><small>(490.9)</small></td><td>55<br/><small>(451.5)</small></td><td>67<br/><small>(546.6)</small></td><td>48<br/><small>(403.7)</small></td><td>64<br/><small>(525.2)</small></td><td>83<br/><small>(657.5)</small></td><td>73<br/><small>(568.4)</small></td><td>83<br/><small>(639.1)</small></td><td>67<br/><small>(518.0)</small></td><td>95<br/><small>(716.1)</small></td><td>107<br/><small>(842.3)</small></td></tr>
<tr class="g4"><td><b>Burglaries</b><br/><small>(per 100,000)</small></td><td>257<br/><small>(1,742)</small></td><td>198<br/><small>(1,281)</small></td><td>210<br/><small>(1,333)</small></td><td>156<br/><small>(1,298)</small></td><td>194<br/><small>(1,593)</small></td><td>200<br/><small>(1,632)</small></td><td>222<br/><small>(1,867)</small></td><td>159<br/><small>(1,305)</small></td><td>165<br/><small>(1,307)</small></td><td>113<br/><small>(879.8)</small></td><td>122<br/><small>(939.4)</small></td><td>90<br/><small>(695.8)</small></td><td>90<br/><small>(678.4)</small></td><td>56<br/><small>(440.8)</small></td></tr>
<tr class="g5"><td><b>Thefts</b><br/><small>(per 100,000)</small></td><td>783<br/><small>(5,307)</small></td><td>795<br/><small>(5,145)</small></td><td>902<br/><small>(5,724)</small></td><td>911<br/><small>(7,580)</small></td><td>911<br/><small>(7,478)</small></td><td>1,090<br/><small>(8,893)</small></td><td>1,015<br/><small>(8,537)</small></td><td>931<br/><small>(7,640)</small></td><td>934<br/><small>(7,399)</small></td><td>993<br/><small>(7,731)</small></td><td>811<br/><small>(6,245)</small></td><td>866<br/><small>(6,695)</small></td><td>748<br/><small>(5,638)</small></td><td>689<br/><small>(5,424)</small></td></tr>
<tr class="g6"><td><b>Auto thefts</b><br/><small>(per 100,000)</small></td><td>3<br/><small>(20.3)</small></td><td>0<br/><small>(0.0)</small></td><td>4<br/><small>(25.4)</small></td><td>2<br/><small>(16.6)</small></td><td>6<br/><small>(49.3)</small></td><td>2<br/><small>(16.3)</small></td><td>1<br/><small>(8.4)</small></td><td>12<br/><small>(98.5)</small></td><td>9<br/><small>(71.3)</small></td><td>10<br/><small>(77.9)</small></td><td>5<br/><small>(38.5)</small></td><td>4<br/><small>(30.9)</small></td><td>4<br/><small>(30.2)</small></td><td>11<br/><small>(86.6)</small></td></tr>
<tr class="g7"><td><b>Arson</b><br/><small>(per 100,000)</small></td><td>2<br/><small>(13.6)</small></td><td>4<br/><small>(25.9)</small></td><td>3<br/><small>(19.0)</small></td><td>4<br/><small>(33.3)</small></td><td>1<br/><small>(8.2)</small></td><td>1<br/><small>(8.2)</small></td><td>3<br/><small>(25.2)</small></td><td>1<br/><small>(8.2)</small></td><td>0<br/><small>(0.0)</small></td><td>2<br/><small>(15.6)</small></td><td>3<br/><small>(23.1)</small></td><td>1<br/><small>(7.7)</small></td><td>0<br/><small>(0.0)</small></td><td>0<br/><small>(0.0)</small></td></tr>
</tbody><tfoot class="g8"><tr class="nosort"><td style="white-space:normal"><b>City-Data.com crime index</b></td><td>539.8</td><td>473.4</td><td>495.0</td><td>639.2</td><td>631.3</td><td>707.0</td><td>762.2</td><td>765.1</td><td>733.0</td><td>683.0</td><td>565.8</td><td>625.9</td><td>605.6</td><td>553.9</td></tr>
</tfoot>
</table>

In [7]:
table_html = str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'}))

In [8]:
HTML(table_html)

# Panama City crime data

In [9]:
panama_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [10]:
panama_crime

,Type,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Murders(per 100,000)",0(0.0),0(0.0),0(0.0),0(0.0),1(8.2),0(0.0),0(0.0),2(16.4),1(7.9),1(7.8),1(7.7),2(15.5),2(15.1),2(15.7)
1,"Rapes(per 100,000)",14(94.9),16(103.5),15(95.2),14(116.5),10(82.1),10(81.6),19(159.8),20(164.1),18(142.6),19(147.9),12(92.4),20(154.6),20(150.8),12(94.5)
2,"Robberies(per 100,000)",23(155.9),17(110.0),13(82.5),21(174.7),18(147.8),25(204.0),32(269.1),37(303.6),33(261.4),25(194.6),13(100.1),21(162.4),16(120.6),10(78.7)
3,"Assaults(per 100,000)",60(406.6),48(310.6),55(349.0),59(490.9),55(451.5),67(546.6),48(403.7),64(525.2),83(657.5),73(568.4),83(639.1),67(518.0),95(716.1),107(842.3)
4,"Burglaries(per 100,000)","257(1,742)","198(1,281)","210(1,333)","156(1,298)","194(1,593)","200(1,632)","222(1,867)","159(1,305)","165(1,307)",113(879.8),122(939.4),90(695.8),90(678.4),56(440.8)
5,"Thefts(per 100,000)","783(5,307)","795(5,145)","902(5,724)","911(7,580)","911(7,478)","1,090(8,893)","1,015(8,537)","931(7,640)","934(7,399)","993(7,731)","811(6,245)","866(6,695)","748(5,638)","689(5,424)"
6,"Auto thefts(per 100,000)",3(20.3),0(0.0),4(25.4),2(16.6),6(49.3),2(16.3),1(8.4),12(98.5),9(71.3),10(77.9),5(38.5),4(30.9),4(30.2),11(86.6)
7,"Arson(per 100,000)",2(13.6),4(25.9),3(19.0),4(33.3),1(8.2),1(8.2),3(25.2),1(8.2),0(0.0),2(15.6),3(23.1),1(7.7),0(0.0),0(0.0)
8,City-Data.com crime index,539.8,473.4,495.0,639.2,631.3,707.0,762.2,765.1,733.0,683.0,565.8,625.9,605.6,553.9

In [11]:
panama_crime = panama_crime.T
new_header = panama_crime.iloc[0] #grab the first row for the header
panama_crime = panama_crime[1:] #take the data less the header row
panama_crime.columns = new_header

In [12]:
panama_crime = panama_crime.reset_index().rename(columns = {'index':'Year'})

In [13]:
panama_crime[['Murders', 'Murders (per 100,000)']] = panama_crime['Murders(per 100,000)'].str.split('\(', expand=True)
panama_crime['Murders (per 100,000)'] = panama_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Rapes', 'Rapes (per 100,000)']] = panama_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
panama_crime['Rapes (per 100,000)'] = panama_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Robberies', 'Robberies (per 100,000)']] = panama_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
panama_crime['Robberies (per 100,000)'] = panama_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Assaults', 'Assaults (per 100,000)']] = panama_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
panama_crime['Assaults (per 100,000)'] = panama_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Burglaries', 'Burglaries (per 100,000)']] = panama_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
panama_crime['Burglaries (per 100,000)'] = panama_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Thefts', 'Thefts (per 100,000)']] = panama_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
panama_crime['Thefts (per 100,000)'] = panama_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = panama_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
panama_crime['Auto Thefts (per 100,000)'] = panama_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime[['Arson', 'Arson (per 100,000)']] = panama_crime['Arson(per 100,000)'].str.split('\(', expand=True)
panama_crime['Arson (per 100,000)'] = panama_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
panama_crime = panama_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
panama_crime = panama_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
panama_crime = panama_crime.rename(columns = {'Type':'Year'})
panama_crime['location'] = 'Panama City Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Murders (per 100,000)'] = panama_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Rapes (per 100,000)'] = panama_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Robberies (per 100,000)'] = panama_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Assaults (per 100,000)'] = panama_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Burglaries (per 100,000)'] = panama_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Thefts (per 100,000)'] = panama_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Auto Thefts (per 100,000)'] = panama_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3487550406.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  panama_crime['Arson (per 100,000)'] = panama_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Isle of Palms crime data

In [14]:
URL = 'https://www.city-data.com/crime/crime-Isle-of-Palms-South-Carolina.html'

In [15]:
response = requests.get(URL)
soup = BS(response.text)

In [16]:
isle_palms_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [17]:
isle_palms_crime = isle_palms_crime.T
new_header = isle_palms_crime.iloc[0] #grab the first row for the header
isle_palms_crime = isle_palms_crime[1:] #take the data less the header row
isle_palms_crime.columns = new_header

In [18]:
isle_palms_crime = isle_palms_crime.reset_index().rename(columns = {'index':'Year'})

In [19]:
isle_palms_crime[['Murders', 'Murders (per 100,000)']] = isle_palms_crime['Murders(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Murders (per 100,000)'] = isle_palms_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Rapes', 'Rapes (per 100,000)']] = isle_palms_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Rapes (per 100,000)'] = isle_palms_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Robberies', 'Robberies (per 100,000)']] = isle_palms_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Robberies (per 100,000)'] = isle_palms_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Assaults', 'Assaults (per 100,000)']] = isle_palms_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Assaults (per 100,000)'] = isle_palms_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Burglaries', 'Burglaries (per 100,000)']] = isle_palms_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Burglaries (per 100,000)'] = isle_palms_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Thefts', 'Thefts (per 100,000)']] = isle_palms_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Thefts (per 100,000)'] = isle_palms_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = isle_palms_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Auto Thefts (per 100,000)'] = isle_palms_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime[['Arson', 'Arson (per 100,000)']] = isle_palms_crime['Arson(per 100,000)'].str.split('\(', expand=True)
isle_palms_crime['Arson (per 100,000)'] = isle_palms_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
isle_palms_crime = isle_palms_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
isle_palms_crime = isle_palms_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
isle_palms_crime = isle_palms_crime.rename(columns = {'Type':'Year'})
isle_palms_crime['location'] = 'Isle of Palms'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Murders (per 100,000)'] = isle_palms_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Rapes (per 100,000)'] = isle_palms_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Robberies (per 100,000)'] = isle_palms_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Assaults (per 100,000)'] = isle_palms_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Burglaries (per 100,000)'] = isle_palms_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Thefts (per 100,000)'] = isle_palms_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Auto Thefts (per 100,000)'] = isle_palms_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1255262869.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  isle_palms_crime['Arson (per 100,000)'] = isle_palms_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Gulfport crime data

In [20]:
URL = 'https://www.city-data.com/crime/crime-Gulfport-Mississippi.html'

In [21]:
response = requests.get(URL)
soup = BS(response.text)

In [22]:
gulfport_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [23]:
gulfport_crime = gulfport_crime.T
new_header = gulfport_crime.iloc[0] #grab the first row for the header
gulfport_crime = gulfport_crime[1:] #take the data less the header row
gulfport_crime.columns = new_header

In [24]:
gulfport_crime = gulfport_crime.reset_index().rename(columns = {'index':'Year'})

In [25]:
gulfport_crime[['Murders', 'Murders (per 100,000)']] = gulfport_crime['Murders(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Murders (per 100,000)'] = gulfport_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Rapes', 'Rapes (per 100,000)']] = gulfport_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Rapes (per 100,000)'] = gulfport_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Robberies', 'Robberies (per 100,000)']] = gulfport_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Robberies (per 100,000)'] = gulfport_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Assaults', 'Assaults (per 100,000)']] = gulfport_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Assaults (per 100,000)'] = gulfport_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Burglaries', 'Burglaries (per 100,000)']] = gulfport_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Burglaries (per 100,000)'] = gulfport_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Thefts', 'Thefts (per 100,000)']] = gulfport_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Thefts (per 100,000)'] = gulfport_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = gulfport_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Auto Thefts (per 100,000)'] = gulfport_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime[['Arson', 'Arson (per 100,000)']] = gulfport_crime['Arson(per 100,000)'].str.split('\(', expand=True)
gulfport_crime['Arson (per 100,000)'] = gulfport_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
gulfport_crime = gulfport_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
gulfport_crime = gulfport_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
gulfport_crime = gulfport_crime.rename(columns = {'Type':'Year'})
gulfport_crime['location'] = 'Gulfport Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Murders (per 100,000)'] = gulfport_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Rapes (per 100,000)'] = gulfport_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Robberies (per 100,000)'] = gulfport_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Assaults (per 100,000)'] = gulfport_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Burglaries (per 100,000)'] = gulfport_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Thefts (per 100,000)'] = gulfport_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Auto Thefts (per 100,000)'] = gulfport_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3858712668.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  gulfport_crime['Arson (per 100,000)'] = gulfport_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Tybee Island crime data

In [26]:
URL = 'https://www.city-data.com/crime/crime-Tybee-Island-Georgia.html'

In [27]:
response = requests.get(URL)
soup = BS(response.text)

In [28]:
tybee_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [29]:
tybee_crime = tybee_crime.T
new_header = tybee_crime.iloc[0] #grab the first row for the header
tybee_crime = tybee_crime[1:] #take the data less the header row
tybee_crime.columns = new_header

In [30]:
tybee_crime = tybee_crime.reset_index().rename(columns = {'index':'Year'})

In [31]:
tybee_crime[['Murders', 'Murders (per 100,000)']] = tybee_crime['Murders(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Murders (per 100,000)'] = tybee_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Rapes', 'Rapes (per 100,000)']] = tybee_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Rapes (per 100,000)'] = tybee_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Robberies', 'Robberies (per 100,000)']] = tybee_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Robberies (per 100,000)'] = tybee_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Assaults', 'Assaults (per 100,000)']] = tybee_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Assaults (per 100,000)'] = tybee_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Burglaries', 'Burglaries (per 100,000)']] = tybee_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Burglaries (per 100,000)'] = tybee_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Thefts', 'Thefts (per 100,000)']] = tybee_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Thefts (per 100,000)'] = tybee_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = tybee_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Auto Thefts (per 100,000)'] = tybee_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime[['Arson', 'Arson (per 100,000)']] = tybee_crime['Arson(per 100,000)'].str.split('\(', expand=True)
tybee_crime['Arson (per 100,000)'] = tybee_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
tybee_crime = tybee_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
tybee_crime = tybee_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
tybee_crime = tybee_crime.rename(columns = {'Type':'Year'})
tybee_crime['location'] = 'Tybee Island'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Murders (per 100,000)'] = tybee_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Rapes (per 100,000)'] = tybee_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Robberies (per 100,000)'] = tybee_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Assaults (per 100,000)'] = tybee_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Burglaries (per 100,000)'] = tybee_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Thefts (per 100,000)'] = tybee_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Auto Thefts (per 100,000)'] = tybee_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\713134683.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  tybee_crime['Arson (per 100,000)'] = tybee_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Miramar crime data

In [32]:
URL = 'https://www.city-data.com/crime/crime-Miramar-Florida.html'

In [33]:
response = requests.get(URL)
soup = BS(response.text)

In [34]:
miramar_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [35]:
miramar_crime = miramar_crime.T
new_header = miramar_crime.iloc[0] #grab the first row for the header
miramar_crime = miramar_crime[1:] #take the data less the header row
miramar_crime.columns = new_header

In [36]:
miramar_crime = miramar_crime.reset_index().rename(columns = {'index':'Year'})

In [37]:
miramar_crime[['Murders', 'Murders (per 100,000)']] = miramar_crime['Murders(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Murders (per 100,000)'] = miramar_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Rapes', 'Rapes (per 100,000)']] = miramar_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Rapes (per 100,000)'] = miramar_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Robberies', 'Robberies (per 100,000)']] = miramar_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Robberies (per 100,000)'] = miramar_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Assaults', 'Assaults (per 100,000)']] = miramar_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Assaults (per 100,000)'] = miramar_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Burglaries', 'Burglaries (per 100,000)']] = miramar_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Burglaries (per 100,000)'] = miramar_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Thefts', 'Thefts (per 100,000)']] = miramar_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Thefts (per 100,000)'] = miramar_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = miramar_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Auto Thefts (per 100,000)'] = miramar_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime[['Arson', 'Arson (per 100,000)']] = miramar_crime['Arson(per 100,000)'].str.split('\(', expand=True)
miramar_crime['Arson (per 100,000)'] = miramar_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
miramar_crime = miramar_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
miramar_crime = miramar_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
miramar_crime = miramar_crime.rename(columns = {'Type':'Year'})
miramar_crime['location'] = 'Miramar Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Murders (per 100,000)'] = miramar_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Rapes (per 100,000)'] = miramar_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Robberies (per 100,000)'] = miramar_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Assaults (per 100,000)'] = miramar_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Burglaries (per 100,000)'] = miramar_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Thefts (per 100,000)'] = miramar_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Auto Thefts (per 100,000)'] = miramar_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\3739987592.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  miramar_crime['Arson (per 100,000)'] = miramar_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Orange Beach crime data

In [38]:
URL = 'https://www.city-data.com/crime/crime-Orange-Beach-Alabama.html'

In [39]:
response = requests.get(URL)
soup = BS(response.text)

In [40]:
orange_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [41]:
orange_crime = orange_crime.T
new_header = orange_crime.iloc[0] #grab the first row for the header
orange_crime = orange_crime[1:] #take the data less the header row
orange_crime.columns = new_header

In [42]:
orange_crime = orange_crime.reset_index().rename(columns = {'index':'Year'})

In [43]:
orange_crime[['Murders', 'Murders (per 100,000)']] = orange_crime['Murders(per 100,000)'].str.split('\(', expand=True)
orange_crime['Murders (per 100,000)'] = orange_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Rapes', 'Rapes (per 100,000)']] = orange_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
orange_crime['Rapes (per 100,000)'] = orange_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Robberies', 'Robberies (per 100,000)']] = orange_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
orange_crime['Robberies (per 100,000)'] = orange_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Assaults', 'Assaults (per 100,000)']] = orange_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
orange_crime['Assaults (per 100,000)'] = orange_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Burglaries', 'Burglaries (per 100,000)']] = orange_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
orange_crime['Burglaries (per 100,000)'] = orange_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Thefts', 'Thefts (per 100,000)']] = orange_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
orange_crime['Thefts (per 100,000)'] = orange_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = orange_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
orange_crime['Auto Thefts (per 100,000)'] = orange_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime[['Arson', 'Arson (per 100,000)']] = orange_crime['Arson(per 100,000)'].str.split('\(', expand=True)
orange_crime['Arson (per 100,000)'] = orange_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
orange_crime = orange_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
orange_crime = orange_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
orange_crime = orange_crime.rename(columns = {'Type':'Year'})
orange_crime['location'] = 'Orange Beach'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Murders (per 100,000)'] = orange_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Rapes (per 100,000)'] = orange_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Robberies (per 100,000)'] = orange_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Assaults (per 100,000)'] = orange_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Burglaries (per 100,000)'] = orange_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Thefts (per 100,000)'] = orange_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Auto Thefts (per 100,000)'] = orange_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\846310428.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  orange_crime['Arson (per 100,000)'] = orange_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Dauphin Island crime data

In [44]:
URL = 'https://www.city-data.com/crime/crime-Dauphin-Island-Alabama.html'

In [45]:
response = requests.get(URL)
soup = BS(response.text)

In [46]:
dauphin_crime = pd.read_html(str(soup.find('table', attrs={'class' : 'table tabBlue tblsort tblsticky sortable'})))[0]

In [47]:
dauphin_crime = dauphin_crime.T
new_header = dauphin_crime.iloc[0] #grab the first row for the header
dauphin_crime = dauphin_crime[1:] #take the data less the header row
dauphin_crime.columns = new_header

In [48]:
dauphin_crime = dauphin_crime.reset_index().rename(columns = {'index':'Year'})

In [49]:
dauphin_crime[['Murders', 'Murders (per 100,000)']] = dauphin_crime['Murders(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Murders (per 100,000)'] = dauphin_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Rapes', 'Rapes (per 100,000)']] = dauphin_crime['Rapes(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Rapes (per 100,000)'] = dauphin_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Robberies', 'Robberies (per 100,000)']] = dauphin_crime['Robberies(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Robberies (per 100,000)'] = dauphin_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Assaults', 'Assaults (per 100,000)']] = dauphin_crime['Assaults(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Assaults (per 100,000)'] = dauphin_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Burglaries', 'Burglaries (per 100,000)']] = dauphin_crime['Burglaries(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Burglaries (per 100,000)'] = dauphin_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Thefts', 'Thefts (per 100,000)']] = dauphin_crime['Thefts(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Thefts (per 100,000)'] = dauphin_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Auto Thefts', 'Auto Thefts (per 100,000)']] = dauphin_crime['Auto thefts(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Auto Thefts (per 100,000)'] = dauphin_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime[['Arson', 'Arson (per 100,000)']] = dauphin_crime['Arson(per 100,000)'].str.split('\(', expand=True)
dauphin_crime['Arson (per 100,000)'] = dauphin_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)
dauphin_crime = dauphin_crime.drop(columns={'Murders(per 100,000)', 'Rapes(per 100,000)', 'Robberies(per 100,000)',
       'Assaults(per 100,000)', 'Burglaries(per 100,000)',
       'Thefts(per 100,000)', 'Auto thefts(per 100,000)', 'Arson(per 100,000)'})
dauphin_crime = dauphin_crime.rename(columns = {'City-Data.com crime index':'Crime Index'})
dauphin_crime = dauphin_crime.rename(columns = {'Type':'Year'})
dauphin_crime['location'] = 'Dauphin Island'

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Murders (per 100,000)'] = dauphin_crime['Murders (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Rapes (per 100,000)'] = dauphin_crime['Rapes (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Robberies (per 100,000)'] = dauphin_crime['Robberies (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Assaults (per 100,000)'] = dauphin_crime['Assaults (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Burglaries (per 100,000)'] = dauphin_crime['Burglaries (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Thefts (per 100,000)'] = dauphin_crime['Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Auto Thefts (per 100,000)'] = dauphin_crime['Auto Thefts (per 100,000)'].str.replace('[),]', '').astype(float)
C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4001413541.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  dauphin_crime['Arson (per 100,000)'] = dauphin_crime['Arson (per 100,000)'].str.replace('[),]', '').astype(float)

# Merging All Beaches

In [50]:
all_crime_beaches = pd.merge(dauphin_crime, gulfport_crime,
         on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, isle_palms_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, miramar_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, orange_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, panama_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')
all_crime_beaches = pd.merge(all_crime_beaches, tybee_crime,
                            on = ('Year', 'Crime Index', 'Murders', 'Murders (per 100,000)', 'Rapes',
       'Rapes (per 100,000)', 'Robberies', 'Robberies (per 100,000)',
       'Assaults', 'Assaults (per 100,000)', 'Burglaries',
       'Burglaries (per 100,000)', 'Thefts', 'Thefts (per 100,000)',
       'Auto Thefts', 'Auto Thefts (per 100,000)', 'Arson',
       'Arson (per 100,000)', 'location'),
         how = 'outer')

In [51]:
all_crime_beaches['Year'] = all_crime_beaches['Year'].astype(int)
all_crime_beaches['Crime Index'] = all_crime_beaches['Crime Index'].astype(float)
all_crime_beaches['Murders'] = all_crime_beaches['Murders'].astype(int)
all_crime_beaches['Rapes'] = all_crime_beaches['Rapes'].astype(int)
all_crime_beaches['Robberies'] = all_crime_beaches['Robberies'].astype(int)
all_crime_beaches['Assaults'] = all_crime_beaches['Assaults'].astype(int)
all_crime_beaches['Thefts'] = all_crime_beaches['Thefts'].str.replace(',', '').astype(int)
all_crime_beaches['Burglaries'] = all_crime_beaches['Burglaries'].str.replace(',', '').astype(int)
all_crime_beaches['Auto Thefts'] = all_crime_beaches['Auto Thefts'].astype(int)
all_crime_beaches['Arson'] = all_crime_beaches['Arson'].astype(int)

In [52]:
all_crime_beaches

Type,Year,Crime Index,Murders,"Murders (per 100,000)",Rapes,"Rapes (per 100,000)",Robberies,"Robberies (per 100,000)",Assaults,"Assaults (per 100,000)",Burglaries,"Burglaries (per 100,000)",Thefts,"Thefts (per 100,000)",Auto Thefts,"Auto Thefts (per 100,000)",Arson,"Arson (per 100,000)",location
0,2007,35.1,0,0.0,0,0.0,0,0.0,0,0.0,5,318.9,3,191.3,1,63.8,0,0.0,Dauphin Island
1,2008,230.5,0,0.0,0,0.0,1,62.3,0,0.0,24,1495.0,39,2430.0,2,124.6,0,0.0,Dauphin Island
2,2009,290.7,0,0.0,0,0.0,0,0.0,5,310.6,20,1242.0,49,3043.0,4,248.4,0,0.0,Dauphin Island
3,2010,304.5,0,0.0,0,0.0,0,0.0,3,242.3,27,2181.0,28,2262.0,2,161.6,0,0.0,Dauphin Island
4,2011,237.1,0,0.0,0,0.0,0,0.0,3,241.2,9,723.5,39,3135.0,2,160.8,0,0.0,Dauphin Island
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2016,198.5,0,0.0,0,0.0,1,32.0,3,96.0,6,192.1,116,3713.0,3,96.0,0,0.0,Tybee Island
93,2017,238.4,0,0.0,0,0.0,1,31.9,3,95.7,11,351.0,137,4371.0,4,127.6,0,0.0,Tybee Island
94,2018,318.6,0,0.0,2,63.5,0,0.0,7,222.4,17,540.0,142,4511.0,2,63.5,0,0.0,Tybee Island
95,2019,172.4,0,0.0,1,32.0,0,0.0,4,128.0,5,159.9,80,2559.0,3,96.0,0,0.0,Tybee Island
96,2020,124.3,0,0.0,0,0.0,0,0.0,0,0.0,6,195.3,75,2441.0,5,162.8,0,0.0,Tybee Island

In [53]:
crimes_agg = all_crime_beaches.groupby(['location'])['Murders (per 100,000)', 'Rapes (per 100,000)', 'Robberies (per 100,000)',
       'Assaults (per 100,000)', 'Burglaries (per 100,000)', 'Thefts (per 100,000)', 'Auto Thefts (per 100,000)', 
        'Arson (per 100,000)'].mean()
crimes_agg

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\1963980422.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  crimes_agg = all_crime_beaches.groupby(['location'])['Murders (per 100,000)', 'Rapes (per 100,000)', 'Robberies (per 100,000)',

Type,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto Thefts (per 100,000)","Arson (per 100,000)"
location,,,,,,,,
Dauphin Island,0.000000,33.885714,10.214286,187.214286,1021.664286,2907.835714,155.992857,0.000000
Gulfport Beach,9.742857,32.757143,122.450000,151.057143,1077.757143,3946.928571,286.985714,26.678571
Isle of Palms,1.635714,24.328571,8.028571,66.621429,688.085714,2291.000000,184.242857,1.671429
Miramar Beach,3.842857,28.242857,111.135714,220.150000,554.335714,1502.685714,220.378571,7.092857
Orange Beach,2.638462,53.092308,16.853846,143.569231,543.638462,3488.538462,112.700000,1.376923
Panama City Beach,6.735714,120.035714,168.957143,530.392857,1213.728571,6816.857143,40.728571,13.428571
Tybee Island,0.000000,25.828571,17.300000,110.300000,252.457143,2968.142857,90.828571,1.892857

In [54]:
no_murder = all_crime_beaches.loc[all_crime_beaches['Murders']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Murder'})
no_rape = all_crime_beaches.loc[all_crime_beaches['Rapes']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Rape'})
no_robberies = all_crime_beaches.loc[all_crime_beaches['Robberies']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Robberies'})
no_assaults = all_crime_beaches.loc[all_crime_beaches['Assaults']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Assaults'})
no_burglaries = all_crime_beaches.loc[all_crime_beaches['Burglaries']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Burglaries'})
no_thefts = all_crime_beaches.loc[all_crime_beaches['Thefts']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Thefts'})
no_auto_thefts = all_crime_beaches.loc[all_crime_beaches['Auto Thefts']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Auto_Thefts'})
no_arson = all_crime_beaches.loc[all_crime_beaches['Arson']==0].groupby(['location'])['Year'].count().to_frame().reset_index().rename(columns={'Year':'Years_No_Arson'})

In [55]:
crimes_agg = pd.merge(crimes_agg, no_murder,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_rape,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_robberies,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_assaults,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_burglaries,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_thefts,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_auto_thefts,
                        on='location', how='outer')
crimes_agg = pd.merge(crimes_agg, no_arson,
                        on='location', how='outer')

In [56]:
crimes_agg

,location,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto Thefts (per 100,000)","Arson (per 100,000)",Years_No_Murder,Years_No_Rape,Years_No_Robberies,Years_No_Assaults,Years_No_Burglaries,Years_No_Thefts,Years_No_Auto_Thefts,Years_No_Arson
0,Dauphin Island,0.000000,33.885714,10.214286,187.214286,1021.664286,2907.835714,155.992857,0.000000,14.0,11.0,12.0,3.0,NaN,NaN,1.0,14.0
1,Gulfport Beach,9.742857,32.757143,122.450000,151.057143,1077.757143,3946.928571,286.985714,26.678571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Isle of Palms,1.635714,24.328571,8.028571,66.621429,688.085714,2291.000000,184.242857,1.671429,13.0,6.0,9.0,2.0,NaN,NaN,NaN,13.0
3,Miramar Beach,3.842857,28.242857,111.135714,220.150000,554.335714,1502.685714,220.378571,7.092857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Orange Beach,2.638462,53.092308,16.853846,143.569231,543.638462,3488.538462,112.700000,1.376923,11.0,2.0,8.0,NaN,NaN,NaN,NaN,12.0
5,Panama City Beach,6.735714,120.035714,168.957143,530.392857,1213.728571,6816.857143,40.728571,13.428571,6.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0
6,Tybee Island,0.000000,25.828571,17.300000,110.300000,252.457143,2968.142857,90.828571,1.892857,14.0,8.0,9.0,3.0,1.0,NaN,NaN,13.0

In [57]:
murder = crimes_agg['Murders (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Murders (per 100,000)':'Murder_Rank'})
rapes = crimes_agg['Rapes (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Rapes (per 100,000)':'Rapes_Rank'})
robberies = crimes_agg['Robberies (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Robberies (per 100,000)':'Robberies_Rank'})
assaults = crimes_agg['Assaults (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Assaults (per 100,000)':'Assaults_Rank'})
burglaries = crimes_agg['Burglaries (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Burglaries (per 100,000)':'Burglaries_Rank'})
thefts = crimes_agg['Thefts (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Thefts (per 100,000)':'Thefts_Rank'})
auto_thefts = crimes_agg['Auto Thefts (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Auto Thefts (per 100,000)':'Auto_Thefts_Rank'})
arson = crimes_agg['Arson (per 100,000)'].rank(method='min').to_frame().rename(columns = {'Arson (per 100,000)':'Arson_Rank'})

In [58]:
loc = crimes_agg['location'].tolist()
murder = crimes_agg['Murders (per 100,000)'].rank(method='min').tolist()
rapes = crimes_agg['Rapes (per 100,000)'].rank(method='min').tolist()
robberies = crimes_agg['Robberies (per 100,000)'].rank(method='min').tolist()
assaults = crimes_agg['Assaults (per 100,000)'].rank(method='min').tolist()
burglaries = crimes_agg['Burglaries (per 100,000)'].rank(method='min').tolist()
thefts = crimes_agg['Thefts (per 100,000)'].rank(method='min').tolist()
auto_thefts = crimes_agg['Auto Thefts (per 100,000)'].rank(method='min').tolist()
arson = crimes_agg['Arson (per 100,000)'].rank(method='min').tolist()

In [59]:
locations_ranked = pd.DataFrame({'location': loc, 'murder_rank': murder, 'rapes_rank': rapes, 'robberies_rank': robberies,
                                 'assaults_rank': assaults, 'burglaries_rank': burglaries, 'thefts_rank': thefts,
                                 'auto_thefts_rank': auto_thefts, 'arson_rank': arson})

In [60]:
locations_ranked['average_rank'] = (locations_ranked['murder_rank']+locations_ranked['rapes_rank']+locations_ranked['robberies_rank']+locations_ranked['assaults_rank']+locations_ranked['burglaries_rank']+locations_ranked['thefts_rank']+locations_ranked['auto_thefts_rank']+locations_ranked['arson_rank'])/8

In [61]:
locations_ranked

,location,murder_rank,rapes_rank,robberies_rank,assaults_rank,burglaries_rank,thefts_rank,auto_thefts_rank,arson_rank,average_rank
0,Dauphin Island,1.0,5.0,2.0,5.0,5.0,3.0,4.0,1.0,3.250
1,Gulfport Beach,7.0,4.0,6.0,4.0,6.0,6.0,7.0,7.0,5.875
2,Isle of Palms,3.0,1.0,1.0,1.0,4.0,2.0,5.0,3.0,2.500
3,Miramar Beach,5.0,3.0,5.0,6.0,3.0,1.0,6.0,5.0,4.250
4,Orange Beach,4.0,6.0,3.0,3.0,2.0,5.0,3.0,2.0,3.500
5,Panama City Beach,6.0,7.0,7.0,7.0,7.0,7.0,1.0,6.0,6.000
6,Tybee Island,1.0,2.0,4.0,2.0,1.0,4.0,2.0,4.0,2.500

In [62]:
crimes_agg['Years_No_Murder'] = (crimes_agg['Years_No_Murder']/14)*100
crimes_agg['Years_No_Rape'] = (crimes_agg['Years_No_Rape']/14)*100
crimes_agg['Years_No_Robberies'] = (crimes_agg['Years_No_Robberies']/14)*100
crimes_agg['Years_No_Assaults'] = (crimes_agg['Years_No_Assaults']/14)*100
crimes_agg['Years_No_Burglaries'] = (crimes_agg['Years_No_Burglaries']/14)*100
crimes_agg['Years_No_Thefts'] = (crimes_agg['Years_No_Thefts']/14)*100
crimes_agg['Years_No_Auto_Thefts'] = (crimes_agg['Years_No_Auto_Thefts']/14)*100
crimes_agg['Years_No_Arson'] = (crimes_agg['Years_No_Arson']/14)*100

In [63]:
all_crime_beaches

Type,Year,Crime Index,Murders,"Murders (per 100,000)",Rapes,"Rapes (per 100,000)",Robberies,"Robberies (per 100,000)",Assaults,"Assaults (per 100,000)",Burglaries,"Burglaries (per 100,000)",Thefts,"Thefts (per 100,000)",Auto Thefts,"Auto Thefts (per 100,000)",Arson,"Arson (per 100,000)",location
0,2007,35.1,0,0.0,0,0.0,0,0.0,0,0.0,5,318.9,3,191.3,1,63.8,0,0.0,Dauphin Island
1,2008,230.5,0,0.0,0,0.0,1,62.3,0,0.0,24,1495.0,39,2430.0,2,124.6,0,0.0,Dauphin Island
2,2009,290.7,0,0.0,0,0.0,0,0.0,5,310.6,20,1242.0,49,3043.0,4,248.4,0,0.0,Dauphin Island
3,2010,304.5,0,0.0,0,0.0,0,0.0,3,242.3,27,2181.0,28,2262.0,2,161.6,0,0.0,Dauphin Island
4,2011,237.1,0,0.0,0,0.0,0,0.0,3,241.2,9,723.5,39,3135.0,2,160.8,0,0.0,Dauphin Island
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2016,198.5,0,0.0,0,0.0,1,32.0,3,96.0,6,192.1,116,3713.0,3,96.0,0,0.0,Tybee Island
93,2017,238.4,0,0.0,0,0.0,1,31.9,3,95.7,11,351.0,137,4371.0,4,127.6,0,0.0,Tybee Island
94,2018,318.6,0,0.0,2,63.5,0,0.0,7,222.4,17,540.0,142,4511.0,2,63.5,0,0.0,Tybee Island
95,2019,172.4,0,0.0,1,32.0,0,0.0,4,128.0,5,159.9,80,2559.0,3,96.0,0,0.0,Tybee Island
96,2020,124.3,0,0.0,0,0.0,0,0.0,0,0.0,6,195.3,75,2441.0,5,162.8,0,0.0,Tybee Island

# AVG Crime Reports Each Year

In [64]:
test = (all_crime_beaches['Murders'])+(all_crime_beaches['Rapes'])+(all_crime_beaches['Robberies'])+(all_crime_beaches['Assaults'])+(all_crime_beaches['Burglaries'])+(all_crime_beaches['Thefts'])+(all_crime_beaches['Auto Thefts'])+(all_crime_beaches['Arson'])

In [65]:
test.sum()/14

9006.642857142857

In [66]:
all_crime_beaches['Assaults'].sum()

6629

In [67]:
test = all_crime_beaches[['location', 'Murders', 'Rapes',
       'Robberies', 'Assaults', 'Burglaries', 'Thefts', 'Auto Thefts', 'Arson']].T
new_header = test.iloc[0] #grab the first row for the header
test = test[1:] #take the data less the header row
test.columns = new_header

In [68]:
test.reset_index()

location,Type,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,Dauphin Island,...,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island,Tybee Island
0,Murders,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Rapes,0,0,0,0,0,0,2,0,0,...,0,0,0,2,3,0,0,2,1,0
2,Robberies,0,1,0,0,0,0,0,1,0,...,0,0,0,2,0,1,1,0,0,0
3,Assaults,0,0,5,3,3,1,2,3,3,...,0,4,0,3,6,3,3,7,4,0
4,Burglaries,5,24,20,27,9,34,13,3,9,...,7,14,9,7,0,6,11,17,5,6
5,Thefts,3,39,49,28,39,71,50,51,34,...,104,98,62,104,112,116,137,142,80,75
6,Auto Thefts,1,2,4,2,2,1,2,1,1,...,2,3,1,3,6,3,4,2,3,5
7,Arson,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
crimes_agg

,location,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto Thefts (per 100,000)","Arson (per 100,000)",Years_No_Murder,Years_No_Rape,Years_No_Robberies,Years_No_Assaults,Years_No_Burglaries,Years_No_Thefts,Years_No_Auto_Thefts,Years_No_Arson
0,Dauphin Island,0.000000,33.885714,10.214286,187.214286,1021.664286,2907.835714,155.992857,0.000000,100.000000,78.571429,85.714286,21.428571,NaN,NaN,7.142857,100.000000
1,Gulfport Beach,9.742857,32.757143,122.450000,151.057143,1077.757143,3946.928571,286.985714,26.678571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Isle of Palms,1.635714,24.328571,8.028571,66.621429,688.085714,2291.000000,184.242857,1.671429,92.857143,42.857143,64.285714,14.285714,NaN,NaN,NaN,92.857143
3,Miramar Beach,3.842857,28.242857,111.135714,220.150000,554.335714,1502.685714,220.378571,7.092857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Orange Beach,2.638462,53.092308,16.853846,143.569231,543.638462,3488.538462,112.700000,1.376923,78.571429,14.285714,57.142857,NaN,NaN,NaN,NaN,85.714286
5,Panama City Beach,6.735714,120.035714,168.957143,530.392857,1213.728571,6816.857143,40.728571,13.428571,42.857143,NaN,NaN,NaN,NaN,NaN,7.142857,21.428571
6,Tybee Island,0.000000,25.828571,17.300000,110.300000,252.457143,2968.142857,90.828571,1.892857,100.000000,57.142857,64.285714,21.428571,7.142857,NaN,NaN,92.857143

# Transformimg Data for Tableau

In [70]:
#Dauphin
test_1 = crimes_agg.loc[crimes_agg['location']=='Dauphin Island'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_1.columns = ['type', 'per_100k']
test_1['location'] = 'Dauphin Island'
test_1

                        type     per_100k        location
0      Murders (per 100,000)     0.000000  Dauphin Island
1        Rapes (per 100,000)    33.885714  Dauphin Island
2    Robberies (per 100,000)    10.214286  Dauphin Island
3     Assaults (per 100,000)   187.214286  Dauphin Island
4   Burglaries (per 100,000)  1021.664286  Dauphin Island
5       Thefts (per 100,000)  2907.835714  Dauphin Island
6  Auto Thefts (per 100,000)   155.992857  Dauphin Island
7        Arson (per 100,000)     0.000000  Dauphin Island

In [71]:
#Orange
test_2 = crimes_agg.loc[crimes_agg['location']=='Orange Beach'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_2.columns = ['type', 'per_100k']
test_2['location'] = 'Orange Beach'
test_2

                        type     per_100k      location
0      Murders (per 100,000)     2.638462  Orange Beach
1        Rapes (per 100,000)    53.092308  Orange Beach
2    Robberies (per 100,000)    16.853846  Orange Beach
3     Assaults (per 100,000)   143.569231  Orange Beach
4   Burglaries (per 100,000)   543.638462  Orange Beach
5       Thefts (per 100,000)  3488.538462  Orange Beach
6  Auto Thefts (per 100,000)   112.700000  Orange Beach
7        Arson (per 100,000)     1.376923  Orange Beach

In [72]:
#Miramar
test_3 = crimes_agg.loc[crimes_agg['location']=='Miramar Beach'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_3.columns = ['type', 'per_100k']
test_3['location'] = 'Miramar Beach'
test_3

                        type     per_100k       location
0      Murders (per 100,000)     3.842857  Miramar Beach
1        Rapes (per 100,000)    28.242857  Miramar Beach
2    Robberies (per 100,000)   111.135714  Miramar Beach
3     Assaults (per 100,000)   220.150000  Miramar Beach
4   Burglaries (per 100,000)   554.335714  Miramar Beach
5       Thefts (per 100,000)  1502.685714  Miramar Beach
6  Auto Thefts (per 100,000)   220.378571  Miramar Beach
7        Arson (per 100,000)     7.092857  Miramar Beach

In [73]:
#Tybee
test_4 = crimes_agg.loc[crimes_agg['location']=='Tybee Island'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_4.columns = ['type', 'per_100k']
test_4['location'] = 'Tybee Island'
test_4

                        type     per_100k      location
0      Murders (per 100,000)     0.000000  Tybee Island
1        Rapes (per 100,000)    25.828571  Tybee Island
2    Robberies (per 100,000)    17.300000  Tybee Island
3     Assaults (per 100,000)   110.300000  Tybee Island
4   Burglaries (per 100,000)   252.457143  Tybee Island
5       Thefts (per 100,000)  2968.142857  Tybee Island
6  Auto Thefts (per 100,000)    90.828571  Tybee Island
7        Arson (per 100,000)     1.892857  Tybee Island

In [74]:
#Gulfport
test_5 = crimes_agg.loc[crimes_agg['location']=='Gulfport Beach'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_5.columns = ['type', 'per_100k']
test_5['location'] = 'Gulfport Beach'
test_5

                        type     per_100k        location
0      Murders (per 100,000)     9.742857  Gulfport Beach
1        Rapes (per 100,000)    32.757143  Gulfport Beach
2    Robberies (per 100,000)   122.450000  Gulfport Beach
3     Assaults (per 100,000)   151.057143  Gulfport Beach
4   Burglaries (per 100,000)  1077.757143  Gulfport Beach
5       Thefts (per 100,000)  3946.928571  Gulfport Beach
6  Auto Thefts (per 100,000)   286.985714  Gulfport Beach
7        Arson (per 100,000)    26.678571  Gulfport Beach

In [75]:
#Palms
test_6 = crimes_agg.loc[crimes_agg['location']=='Isle of Palms'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_6.columns = ['type', 'per_100k']
test_6['location'] = 'Isle of Palms'
test_6

                        type     per_100k       location
0      Murders (per 100,000)     1.635714  Isle of Palms
1        Rapes (per 100,000)    24.328571  Isle of Palms
2    Robberies (per 100,000)     8.028571  Isle of Palms
3     Assaults (per 100,000)    66.621429  Isle of Palms
4   Burglaries (per 100,000)   688.085714  Isle of Palms
5       Thefts (per 100,000)  2291.000000  Isle of Palms
6  Auto Thefts (per 100,000)   184.242857  Isle of Palms
7        Arson (per 100,000)     1.671429  Isle of Palms

In [76]:
#Panama
test_7 = crimes_agg.loc[crimes_agg['location']=='Panama City Beach'][['Murders (per 100,000)', 'Rapes (per 100,000)',
       'Robberies (per 100,000)', 'Assaults (per 100,000)',
       'Burglaries (per 100,000)', 'Thefts (per 100,000)',
       'Auto Thefts (per 100,000)', 'Arson (per 100,000)']].T.reset_index()
test_7.columns = ['type', 'per_100k']
test_7['location'] = 'Panama City Beach'
test_7

                        type     per_100k           location
0      Murders (per 100,000)     6.735714  Panama City Beach
1        Rapes (per 100,000)   120.035714  Panama City Beach
2    Robberies (per 100,000)   168.957143  Panama City Beach
3     Assaults (per 100,000)   530.392857  Panama City Beach
4   Burglaries (per 100,000)  1213.728571  Panama City Beach
5       Thefts (per 100,000)  6816.857143  Panama City Beach
6  Auto Thefts (per 100,000)    40.728571  Panama City Beach
7        Arson (per 100,000)    13.428571  Panama City Beach

In [77]:
test = pd.merge(test_1, test_2,
        on = ('type', 'per_100k', 'location'), how='outer')
test = pd.merge(test, test_3,
        on = ('type', 'per_100k', 'location'), how='outer')
test = pd.merge(test, test_4,
        on = ('type', 'per_100k', 'location'), how='outer')
test = pd.merge(test, test_5,
        on = ('type', 'per_100k', 'location'), how='outer')
test = pd.merge(test, test_6,
        on = ('type', 'per_100k', 'location'), how='outer')
test = pd.merge(test, test_7,
        on = ('type', 'per_100k', 'location'), how='outer')
test

                         type     per_100k           location
0       Murders (per 100,000)     0.000000     Dauphin Island
1         Rapes (per 100,000)    33.885714     Dauphin Island
2     Robberies (per 100,000)    10.214286     Dauphin Island
3      Assaults (per 100,000)   187.214286     Dauphin Island
4    Burglaries (per 100,000)  1021.664286     Dauphin Island
5        Thefts (per 100,000)  2907.835714     Dauphin Island
6   Auto Thefts (per 100,000)   155.992857     Dauphin Island
7         Arson (per 100,000)     0.000000     Dauphin Island
8       Murders (per 100,000)     2.638462       Orange Beach
9         Rapes (per 100,000)    53.092308       Orange Beach
10    Robberies (per 100,000)    16.853846       Orange Beach
11     Assaults (per 100,000)   143.569231       Orange Beach
12   Burglaries (per 100,000)   543.638462       Orange Beach
13       Thefts (per 100,000)  3488.538462       Orange Beach
14  Auto Thefts (per 100,000)   112.700000       Orange Beach
15        Arson (per 100,000)     1.376923       Orange Beach
16      Murders (per 100,000)     3.842857      Miramar Beach
17        Rapes (per 100,000)    28.242857      Miramar Beach
18    Robberies (per 100,000)   111.135714      Miramar Beach
19     Assaults (per 100,000)   220.150000      Miramar Beach
20   Burglaries (per 100,000)   554.335714      Miramar Beach
21       Thefts (per 100,000)  1502.685714      Miramar Beach
22  Auto Thefts (per 100,000)   220.378571      Miramar Beach
23        Arson (per 100,000)     7.092857      Miramar Beach
24      Murders (per 100,000)     0.000000       Tybee Island
25        Rapes (per 100,000)    25.828571       Tybee Island
26    Robberies (per 100,000)    17.300000       Tybee Island
27     Assaults (per 100,000)   110.300000       Tybee Island
28   Burglaries (per 100,000)   252.457143       Tybee Island
29       Thefts (per 100,000)  2968.142857       Tybee Island
30  Auto Thefts (per 100,000)    90.828571       Tybee Island
31        Arson (per 100,000)     1.892857       Tybee Island
32      Murders (per 100,000)     9.742857     Gulfport Beach
33        Rapes (per 100,000)    32.757143     Gulfport Beach
34    Robberies (per 100,000)   122.450000     Gulfport Beach
35     Assaults (per 100,000)   151.057143     Gulfport Beach
36   Burglaries (per 100,000)  1077.757143     Gulfport Beach
37       Thefts (per 100,000)  3946.928571     Gulfport Beach
38  Auto Thefts (per 100,000)   286.985714     Gulfport Beach
39        Arson (per 100,000)    26.678571     Gulfport Beach
40      Murders (per 100,000)     1.635714      Isle of Palms
41        Rapes (per 100,000)    24.328571      Isle of Palms
42    Robberies (per 100,000)     8.028571      Isle of Palms
43     Assaults (per 100,000)    66.621429      Isle of Palms
44   Burglaries (per 100,000)   688.085714      Isle of Palms
45       Thefts (per 100,000)  2291.000000      Isle of Palms
46  Auto Thefts (per 100,000)   184.242857      Isle of Palms
47        Arson (per 100,000)     1.671429      Isle of Palms
48      Murders (per 100,000)     6.735714  Panama City Beach
49        Rapes (per 100,000)   120.035714  Panama City Beach
50    Robberies (per 100,000)   168.957143  Panama City Beach
51     Assaults (per 100,000)   530.392857  Panama City Beach
52   Burglaries (per 100,000)  1213.728571  Panama City Beach
53       Thefts (per 100,000)  6816.857143  Panama City Beach
54  Auto Thefts (per 100,000)    40.728571  Panama City Beach
55        Arson (per 100,000)    13.428571  Panama City Beach

In [78]:
test[['type', 'delete']] = test['type'].str.split('\(', expand=True)
test = test.drop(columns = 'delete')

In [79]:
test

            type     per_100k           location
0       Murders      0.000000     Dauphin Island
1         Rapes     33.885714     Dauphin Island
2     Robberies     10.214286     Dauphin Island
3      Assaults    187.214286     Dauphin Island
4    Burglaries   1021.664286     Dauphin Island
5        Thefts   2907.835714     Dauphin Island
6   Auto Thefts    155.992857     Dauphin Island
7         Arson      0.000000     Dauphin Island
8       Murders      2.638462       Orange Beach
9         Rapes     53.092308       Orange Beach
10    Robberies     16.853846       Orange Beach
11     Assaults    143.569231       Orange Beach
12   Burglaries    543.638462       Orange Beach
13       Thefts   3488.538462       Orange Beach
14  Auto Thefts    112.700000       Orange Beach
15        Arson      1.376923       Orange Beach
16      Murders      3.842857      Miramar Beach
17        Rapes     28.242857      Miramar Beach
18    Robberies    111.135714      Miramar Beach
19     Assaults    220.150000      Miramar Beach
20   Burglaries    554.335714      Miramar Beach
21       Thefts   1502.685714      Miramar Beach
22  Auto Thefts    220.378571      Miramar Beach
23        Arson      7.092857      Miramar Beach
24      Murders      0.000000       Tybee Island
25        Rapes     25.828571       Tybee Island
26    Robberies     17.300000       Tybee Island
27     Assaults    110.300000       Tybee Island
28   Burglaries    252.457143       Tybee Island
29       Thefts   2968.142857       Tybee Island
30  Auto Thefts     90.828571       Tybee Island
31        Arson      1.892857       Tybee Island
32      Murders      9.742857     Gulfport Beach
33        Rapes     32.757143     Gulfport Beach
34    Robberies    122.450000     Gulfport Beach
35     Assaults    151.057143     Gulfport Beach
36   Burglaries   1077.757143     Gulfport Beach
37       Thefts   3946.928571     Gulfport Beach
38  Auto Thefts    286.985714     Gulfport Beach
39        Arson     26.678571     Gulfport Beach
40      Murders      1.635714      Isle of Palms
41        Rapes     24.328571      Isle of Palms
42    Robberies      8.028571      Isle of Palms
43     Assaults     66.621429      Isle of Palms
44   Burglaries    688.085714      Isle of Palms
45       Thefts   2291.000000      Isle of Palms
46  Auto Thefts    184.242857      Isle of Palms
47        Arson      1.671429      Isle of Palms
48      Murders      6.735714  Panama City Beach
49        Rapes    120.035714  Panama City Beach
50    Robberies    168.957143  Panama City Beach
51     Assaults    530.392857  Panama City Beach
52   Burglaries   1213.728571  Panama City Beach
53       Thefts   6816.857143  Panama City Beach
54  Auto Thefts     40.728571  Panama City Beach
55        Arson     13.428571  Panama City Beach

In [80]:
crimes_count = all_crime_beaches.groupby(['location'])['Murders', 'Rapes', 'Robberies',
       'Assaults', 'Burglaries', 'Thefts', 'Auto Thefts', 
        'Arson'].mean()
crimes_count

C:\Users\bswil\AppData\Local\Temp\ipykernel_11184\4046274908.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  crimes_count = all_crime_beaches.groupby(['location'])['Murders', 'Rapes', 'Robberies',

Type,Murders,Rapes,Robberies,Assaults,Burglaries,Thefts,Auto Thefts,Arson
location,,,,,,,,
Dauphin Island,0.000000,0.428571,0.142857,2.428571,13.571429,37.857143,2.071429,0.000000
Gulfport Beach,6.857143,23.000000,85.071429,107.142857,747.285714,2764.571429,200.428571,18.714286
Isle of Palms,0.071429,1.071429,0.357143,2.928571,30.357143,101.000000,8.142857,0.071429
Miramar Beach,4.857143,36.357143,139.285714,280.571429,682.785714,1912.142857,279.428571,8.785714
Orange Beach,0.153846,3.230769,1.000000,8.538462,32.307692,206.769231,6.692308,0.076923
Panama City Beach,0.857143,15.642857,21.714286,68.857143,159.428571,884.214286,5.214286,1.785714
Tybee Island,0.000000,0.857143,0.571429,3.642857,8.071429,94.714286,2.928571,0.071429

In [81]:
crimes_count = crimes_count.reset_index()

In [82]:
crimes_count.columns

Index(['location', 'Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson'],
      dtype='object', name='Type')

In [83]:
count_1 = crimes_count.loc[crimes_agg['location']=='Dauphin Island'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_1.columns = ['type', 'avg_per_year']
count_1['location'] = 'Dauphin Island'

count_2 = crimes_count.loc[crimes_agg['location']=='Orange Beach'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_2.columns = ['type', 'avg_per_year']
count_2['location'] = 'Orange Beach'

count_3 = crimes_count.loc[crimes_agg['location']=='Miramar Beach'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_3.columns = ['type', 'avg_per_year']
count_3['location'] = 'Miramar Beach'

count_4 = crimes_count.loc[crimes_agg['location']=='Tybee Island'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_4.columns = ['type', 'avg_per_year']
count_4['location'] = 'Tybee Island'

count_5 = crimes_count.loc[crimes_agg['location']=='Gulfport Beach'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_5.columns = ['type', 'avg_per_year']
count_5['location'] = 'Gulfport Beach'

count_6 = crimes_count.loc[crimes_agg['location']=='Isle of Palms'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_6.columns = ['type', 'avg_per_year']
count_6['location'] = 'Isle of Palms'

count_7 = crimes_count.loc[crimes_agg['location']=='Panama City Beach'][['Murders', 'Rapes', 'Robberies', 'Assaults', 'Burglaries',
       'Thefts', 'Auto Thefts', 'Arson']].T.reset_index()
count_7.columns = ['type', 'avg_per_year']
count_7['location'] = 'Panama City Beach'

In [84]:
count = pd.merge(count_1, count_2,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count = pd.merge(count, count_3,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count = pd.merge(count, count_4,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count = pd.merge(count, count_5,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count = pd.merge(count, count_6,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count = pd.merge(count, count_7,
                on = ('type', 'avg_per_year', 'location'), how='outer')
count

           type  avg_per_year           location
0       Murders      0.000000     Dauphin Island
1         Rapes      0.428571     Dauphin Island
2     Robberies      0.142857     Dauphin Island
3      Assaults      2.428571     Dauphin Island
4    Burglaries     13.571429     Dauphin Island
5        Thefts     37.857143     Dauphin Island
6   Auto Thefts      2.071429     Dauphin Island
7         Arson      0.000000     Dauphin Island
8       Murders      0.153846       Orange Beach
9         Rapes      3.230769       Orange Beach
10    Robberies      1.000000       Orange Beach
11     Assaults      8.538462       Orange Beach
12   Burglaries     32.307692       Orange Beach
13       Thefts    206.769231       Orange Beach
14  Auto Thefts      6.692308       Orange Beach
15        Arson      0.076923       Orange Beach
16      Murders      4.857143      Miramar Beach
17        Rapes     36.357143      Miramar Beach
18    Robberies    139.285714      Miramar Beach
19     Assaults    280.571429      Miramar Beach
20   Burglaries    682.785714      Miramar Beach
21       Thefts   1912.142857      Miramar Beach
22  Auto Thefts    279.428571      Miramar Beach
23        Arson      8.785714      Miramar Beach
24      Murders      0.000000       Tybee Island
25        Rapes      0.857143       Tybee Island
26    Robberies      0.571429       Tybee Island
27     Assaults      3.642857       Tybee Island
28   Burglaries      8.071429       Tybee Island
29       Thefts     94.714286       Tybee Island
30  Auto Thefts      2.928571       Tybee Island
31        Arson      0.071429       Tybee Island
32      Murders      6.857143     Gulfport Beach
33        Rapes     23.000000     Gulfport Beach
34    Robberies     85.071429     Gulfport Beach
35     Assaults    107.142857     Gulfport Beach
36   Burglaries    747.285714     Gulfport Beach
37       Thefts   2764.571429     Gulfport Beach
38  Auto Thefts    200.428571     Gulfport Beach
39        Arson     18.714286     Gulfport Beach
40      Murders      0.071429      Isle of Palms
41        Rapes      1.071429      Isle of Palms
42    Robberies      0.357143      Isle of Palms
43     Assaults      2.928571      Isle of Palms
44   Burglaries     30.357143      Isle of Palms
45       Thefts    101.000000      Isle of Palms
46  Auto Thefts      8.142857      Isle of Palms
47        Arson      0.071429      Isle of Palms
48      Murders      0.857143  Panama City Beach
49        Rapes     15.642857  Panama City Beach
50    Robberies     21.714286  Panama City Beach
51     Assaults     68.857143  Panama City Beach
52   Burglaries    159.428571  Panama City Beach
53       Thefts    884.214286  Panama City Beach
54  Auto Thefts      5.214286  Panama City Beach
55        Arson      1.785714  Panama City Beach

In [85]:
locations_ranked.columns

Index(['location', 'murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank', 'average_rank'],
      dtype='object')

In [86]:
rank_1 = locations_ranked.loc[locations_ranked['location']=='Dauphin Island'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_1.columns = ['type', 'rank']
rank_1['location'] = 'Dauphin Island'

rank_2 = locations_ranked.loc[locations_ranked['location']=='Orange Beach'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_2.columns = ['type', 'rank']
rank_2['location'] = 'Orange Beach'

rank_3 = locations_ranked.loc[locations_ranked['location']=='Miramar Beach'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_3.columns = ['type', 'rank']
rank_3['location'] = 'Miramar Beach'

rank_4 = locations_ranked.loc[locations_ranked['location']=='Tybee Island'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_4.columns = ['type', 'rank']
rank_4['location'] = 'Tybee Island'

rank_5 = locations_ranked.loc[locations_ranked['location']=='Gulfport Beach'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_5.columns = ['type', 'rank']
rank_5['location'] = 'Gulfport Beach'

rank_6 = locations_ranked.loc[locations_ranked['location']=='Isle of Palms'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_6.columns = ['type', 'rank']
rank_6['location'] = 'Isle of Palms'

rank_7 = locations_ranked.loc[locations_ranked['location']=='Panama City Beach'][['murder_rank', 'rapes_rank', 'robberies_rank',
       'assaults_rank', 'burglaries_rank', 'thefts_rank', 'auto_thefts_rank',
       'arson_rank']].T.reset_index()
rank_7.columns = ['type', 'rank']
rank_7['location'] = 'Panama City Beach'

In [87]:
rank = pd.merge(rank_1, rank_2,
               on=('type', 'rank', 'location'), how='outer')
rank = pd.merge(rank, rank_3,
               on=('type', 'rank', 'location'), how='outer')
rank = pd.merge(rank, rank_4,
               on=('type', 'rank', 'location'), how='outer')
rank = pd.merge(rank, rank_5,
               on=('type', 'rank', 'location'), how='outer')
rank = pd.merge(rank, rank_6,
               on=('type', 'rank', 'location'), how='outer')
rank = pd.merge(rank, rank_7,
               on=('type', 'rank', 'location'), how='outer')

In [88]:
rank

                type  rank           location
0        murder_rank   1.0     Dauphin Island
1         rapes_rank   5.0     Dauphin Island
2     robberies_rank   2.0     Dauphin Island
3      assaults_rank   5.0     Dauphin Island
4    burglaries_rank   5.0     Dauphin Island
5        thefts_rank   3.0     Dauphin Island
6   auto_thefts_rank   4.0     Dauphin Island
7         arson_rank   1.0     Dauphin Island
8        murder_rank   4.0       Orange Beach
9         rapes_rank   6.0       Orange Beach
10    robberies_rank   3.0       Orange Beach
11     assaults_rank   3.0       Orange Beach
12   burglaries_rank   2.0       Orange Beach
13       thefts_rank   5.0       Orange Beach
14  auto_thefts_rank   3.0       Orange Beach
15        arson_rank   2.0       Orange Beach
16       murder_rank   5.0      Miramar Beach
17        rapes_rank   3.0      Miramar Beach
18    robberies_rank   5.0      Miramar Beach
19     assaults_rank   6.0      Miramar Beach
20   burglaries_rank   3.0      Miramar Beach
21       thefts_rank   1.0      Miramar Beach
22  auto_thefts_rank   6.0      Miramar Beach
23        arson_rank   5.0      Miramar Beach
24       murder_rank   1.0       Tybee Island
25        rapes_rank   2.0       Tybee Island
26    robberies_rank   4.0       Tybee Island
27     assaults_rank   2.0       Tybee Island
28   burglaries_rank   1.0       Tybee Island
29       thefts_rank   4.0       Tybee Island
30  auto_thefts_rank   2.0       Tybee Island
31        arson_rank   4.0       Tybee Island
32       murder_rank   7.0     Gulfport Beach
33        rapes_rank   4.0     Gulfport Beach
34    robberies_rank   6.0     Gulfport Beach
35     assaults_rank   4.0     Gulfport Beach
36   burglaries_rank   6.0     Gulfport Beach
37       thefts_rank   6.0     Gulfport Beach
38  auto_thefts_rank   7.0     Gulfport Beach
39        arson_rank   7.0     Gulfport Beach
40       murder_rank   3.0      Isle of Palms
41        rapes_rank   1.0      Isle of Palms
42    robberies_rank   1.0      Isle of Palms
43     assaults_rank   1.0      Isle of Palms
44   burglaries_rank   4.0      Isle of Palms
45       thefts_rank   2.0      Isle of Palms
46  auto_thefts_rank   5.0      Isle of Palms
47        arson_rank   3.0      Isle of Palms
48       murder_rank   6.0  Panama City Beach
49        rapes_rank   7.0  Panama City Beach
50    robberies_rank   7.0  Panama City Beach
51     assaults_rank   7.0  Panama City Beach
52   burglaries_rank   7.0  Panama City Beach
53       thefts_rank   7.0  Panama City Beach
54  auto_thefts_rank   1.0  Panama City Beach
55        arson_rank   6.0  Panama City Beach

In [89]:
rank[['type', 'delete', 'again']] = rank['type'].str.split('\_', expand=True)
rank = rank.drop(columns = 'delete')
rank = rank.drop(columns = 'again')

In [90]:
rank['type'] = rank['type'].str.title()
rank

          type  rank           location
0       Murder   1.0     Dauphin Island
1        Rapes   5.0     Dauphin Island
2    Robberies   2.0     Dauphin Island
3     Assaults   5.0     Dauphin Island
4   Burglaries   5.0     Dauphin Island
5       Thefts   3.0     Dauphin Island
6         Auto   4.0     Dauphin Island
7        Arson   1.0     Dauphin Island
8       Murder   4.0       Orange Beach
9        Rapes   6.0       Orange Beach
10   Robberies   3.0       Orange Beach
11    Assaults   3.0       Orange Beach
12  Burglaries   2.0       Orange Beach
13      Thefts   5.0       Orange Beach
14        Auto   3.0       Orange Beach
15       Arson   2.0       Orange Beach
16      Murder   5.0      Miramar Beach
17       Rapes   3.0      Miramar Beach
18   Robberies   5.0      Miramar Beach
19    Assaults   6.0      Miramar Beach
20  Burglaries   3.0      Miramar Beach
21      Thefts   1.0      Miramar Beach
22        Auto   6.0      Miramar Beach
23       Arson   5.0      Miramar Beach
24      Murder   1.0       Tybee Island
25       Rapes   2.0       Tybee Island
26   Robberies   4.0       Tybee Island
27    Assaults   2.0       Tybee Island
28  Burglaries   1.0       Tybee Island
29      Thefts   4.0       Tybee Island
30        Auto   2.0       Tybee Island
31       Arson   4.0       Tybee Island
32      Murder   7.0     Gulfport Beach
33       Rapes   4.0     Gulfport Beach
34   Robberies   6.0     Gulfport Beach
35    Assaults   4.0     Gulfport Beach
36  Burglaries   6.0     Gulfport Beach
37      Thefts   6.0     Gulfport Beach
38        Auto   7.0     Gulfport Beach
39       Arson   7.0     Gulfport Beach
40      Murder   3.0      Isle of Palms
41       Rapes   1.0      Isle of Palms
42   Robberies   1.0      Isle of Palms
43    Assaults   1.0      Isle of Palms
44  Burglaries   4.0      Isle of Palms
45      Thefts   2.0      Isle of Palms
46        Auto   5.0      Isle of Palms
47       Arson   3.0      Isle of Palms
48      Murder   6.0  Panama City Beach
49       Rapes   7.0  Panama City Beach
50   Robberies   7.0  Panama City Beach
51    Assaults   7.0  Panama City Beach
52  Burglaries   7.0  Panama City Beach
53      Thefts   7.0  Panama City Beach
54        Auto   1.0  Panama City Beach
55       Arson   6.0  Panama City Beach

In [91]:
for index, row in rank.iterrows():
    if row.type == 'Auto':
        rank.loc[index, 'type'] = 'Auto Thefts'
    elif row.type == 'Murder':
        rank.loc[index, 'type'] = 'Murders'

In [92]:
rank

           type  rank           location
0       Murders   1.0     Dauphin Island
1         Rapes   5.0     Dauphin Island
2     Robberies   2.0     Dauphin Island
3      Assaults   5.0     Dauphin Island
4    Burglaries   5.0     Dauphin Island
5        Thefts   3.0     Dauphin Island
6   Auto Thefts   4.0     Dauphin Island
7         Arson   1.0     Dauphin Island
8       Murders   4.0       Orange Beach
9         Rapes   6.0       Orange Beach
10    Robberies   3.0       Orange Beach
11     Assaults   3.0       Orange Beach
12   Burglaries   2.0       Orange Beach
13       Thefts   5.0       Orange Beach
14  Auto Thefts   3.0       Orange Beach
15        Arson   2.0       Orange Beach
16      Murders   5.0      Miramar Beach
17        Rapes   3.0      Miramar Beach
18    Robberies   5.0      Miramar Beach
19     Assaults   6.0      Miramar Beach
20   Burglaries   3.0      Miramar Beach
21       Thefts   1.0      Miramar Beach
22  Auto Thefts   6.0      Miramar Beach
23        Arson   5.0      Miramar Beach
24      Murders   1.0       Tybee Island
25        Rapes   2.0       Tybee Island
26    Robberies   4.0       Tybee Island
27     Assaults   2.0       Tybee Island
28   Burglaries   1.0       Tybee Island
29       Thefts   4.0       Tybee Island
30  Auto Thefts   2.0       Tybee Island
31        Arson   4.0       Tybee Island
32      Murders   7.0     Gulfport Beach
33        Rapes   4.0     Gulfport Beach
34    Robberies   6.0     Gulfport Beach
35     Assaults   4.0     Gulfport Beach
36   Burglaries   6.0     Gulfport Beach
37       Thefts   6.0     Gulfport Beach
38  Auto Thefts   7.0     Gulfport Beach
39        Arson   7.0     Gulfport Beach
40      Murders   3.0      Isle of Palms
41        Rapes   1.0      Isle of Palms
42    Robberies   1.0      Isle of Palms
43     Assaults   1.0      Isle of Palms
44   Burglaries   4.0      Isle of Palms
45       Thefts   2.0      Isle of Palms
46  Auto Thefts   5.0      Isle of Palms
47        Arson   3.0      Isle of Palms
48      Murders   6.0  Panama City Beach
49        Rapes   7.0  Panama City Beach
50    Robberies   7.0  Panama City Beach
51     Assaults   7.0  Panama City Beach
52   Burglaries   7.0  Panama City Beach
53       Thefts   7.0  Panama City Beach
54  Auto Thefts   1.0  Panama City Beach
55        Arson   6.0  Panama City Beach

In [93]:
crime_cleaned = pd.merge(test, count,
                on=('type', 'location'), how='outer')
crime_cleaned = pd.merge(crime_cleaned, rank,
                on=('type', 'location'), how='outer')

In [94]:
crime_cleaned

            type     per_100k           location  avg_per_year  rank
0       Murders      0.000000     Dauphin Island           NaN   NaN
1         Rapes     33.885714     Dauphin Island           NaN   NaN
2     Robberies     10.214286     Dauphin Island           NaN   NaN
3      Assaults    187.214286     Dauphin Island           NaN   NaN
4    Burglaries   1021.664286     Dauphin Island           NaN   NaN
..           ...          ...                ...           ...   ...
107     Assaults          NaN  Panama City Beach     68.857143   7.0
108   Burglaries          NaN  Panama City Beach    159.428571   7.0
109       Thefts          NaN  Panama City Beach    884.214286   7.0
110  Auto Thefts          NaN  Panama City Beach      5.214286   1.0
111        Arson          NaN  Panama City Beach      1.785714   6.0

[112 rows x 5 columns]