In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import json
import seaborn as sns
import re
from IPython.core.display import HTML

# Dauphin Island

In [2]:
dauphin = pd.read_csv('../data/dauphin_vrbo.csv')

In [3]:
dauphin = dauphin.drop(columns = {'data.results.listings.virtualTourBadge',
       'data.results.listings.listingId',
       'data.results.listings.detailPageUrl',
       'data.results.listings.instantBookable',
       'data.results.listings.listingNumber',
       'data.results.listings.propertyId',
        'data.results.filterGroups[0].groupInfo.__typename',
       'data.results.filterGroups[0].filters[0].count',
       'data.results.filterGroups[0].filters[0].checked',
       'data.results.filterGroups[0].filters[0].__typename',
       'data.results.filterGroups[0].filters[0].filter.id',
       'data.results.filterGroups[0].filters[0].filter.name',
       'data.results.filterGroups[0].filters[0].filter.refineByQueryArgument',
       'data.results.filterGroups[0].filters[0].filter.description',
       'data.results.filterGroups[0].filters[0].filter.__typename',
       'data.results.filterGroups[0].filters[0].filter.groupId'})

In [4]:
dauphin = dauphin.drop(columns = {'data.results.listings.__typename', 'data.results.listings.minStayRange.minStayHigh',
       'data.results.listings.minStayRange.minStayLow',
       'data.results.listings.minStayRange.__typename', 'data.results.mapViewport.neLong', 'data.results.mapViewport.swLat',
       'data.results.mapViewport.swLong',
       'data.results.mapViewport.__typename',
       'data.results.globalMessages.alert',
       'data.results.globalMessages.__typename',
       'data.results.globalMessages.banner',
       'data.results.filterGroups[0].__typename',
       'data.results.filterGroups[0].groupInfo.id',
       'data.results.filterGroups[0].groupInfo.name'})

In [5]:
dauphin = dauphin.drop(columns = {'data.results.parsedParams.coreFilters.minBathrooms',
       'data.results.parsedParams.coreFilters.maxBathrooms',
       'data.results.parsedParams.coreFilters.minNightlyPrice',
       'data.results.parsedParams.coreFilters.maxNightlyPrice',
       'data.results.parsedParams.coreFilters.minSleeps',
       'data.results.parsedParams.coreFilters.__typename',
       'data.results.parsedParams.dates.arrivalDate',
       'data.results.parsedParams.dates.departureDate',
       'data.results.parsedParams.dates.__typename',
       'data.results.mapViewport.neLat', 'data.results.listings.propertyMetadata.headline',
       'data.results.listings.propertyMetadata.__typename',
       'data.results.listings.unitMetadata.unitName',
       'data.results.listings.unitMetadata.__typename'})

In [6]:
dauphin = dauphin.drop(columns = {'data.results.listings.bathrooms.toiletOnly',
       'data.results.listings.bathrooms.__typename', 'data.results.percentBooked.currentPercentBooked',
       'data.results.percentBooked.__typename', 'data.results.parsedParams.q',
       'data.results.parsedParams.sort',
       'data.results.parsedParams.__typename',
       'data.results.parsedParams.coreFilters.adults',
       'data.results.parsedParams.coreFilters.children',
       'data.results.parsedParams.coreFilters.pets',
       'data.results.parsedParams.coreFilters.minBedrooms',
       'data.results.parsedParams.coreFilters.maxBedrooms'})

In [7]:
dauphin = dauphin.drop(columns = {'data.results.listings.spaces.__typename',
       'data.results.listings.spaces.spacesSummary.bedCountDisplay', 'data.results.destination.breadcrumbs[0].url',
       'data.results.destination.breadcrumbs[0].__typename',
       'data.results.destinationMessage.iconText',
       'data.results.destinationMessage.__typename',
       'data.results.destinationMessage.iconTitleText.title',
       'data.results.destinationMessage.iconTitleText.message',
       'data.results.destinationMessage.iconTitleText.icon',
       'data.results.destinationMessage.iconTitleText.messageValueType',
       'data.results.destinationMessage.iconTitleText.link',
       'data.results.destinationMessage.iconTitleText.__typename'})

In [8]:
dauphin = dauphin.rename(columns={'data.results.listings.bedrooms':'bedrooms', 'data.results.listings.propertyType':'type',
       'data.results.listings.sleeps':'sleeps', 'data.results.listings.petsAllowed':'pets_allowed',
       'data.results.listings.averageRating':'rating',
       'data.results.listings.reviewCount':'review_count',
       'data.results.listings.bathrooms.full':'full_bathrooms',
       'data.results.listings.bathrooms.half':'half_bathrooms'})

In [9]:
dauphin = dauphin.drop(columns={'data.results.listings.spaces.spacesSummary.__typename',
       'data.results.listings.spaces.spacesSummary.area.areaValue', 'data.results.geography.location.__typename',
       'data.results.geography.breadcrumbs[0].name',
       'data.results.geography.breadcrumbs[0].countryCode',
       'data.results.geography.breadcrumbs[0].primaryGeoType',
       'data.results.geography.breadcrumbs[0].__typename',
       'data.results.geography.breadcrumbs[0].location.latitude',
       'data.results.geography.breadcrumbs[0].location.longitude',
       'data.results.geography.breadcrumbs[0].location.__typename',
       'data.results.destination.__typename',
       'data.results.destination.breadcrumbs[0].name'})

In [10]:
dauphin = dauphin.drop(columns={'data.results.listings.spaces.spacesSummary.area.__typename',
       'data.results.listings.geoDistance.text',
       'data.results.listings.geoDistance.relationType',
       'data.results.listings.geoDistance.__typename', 'data.results.listings.priceSummary.edapEventJson',
        'data.results.propertyRedirectUrl', 'data.results.__typename',
       'data.results.resultCount', 'data.results.page',
       'data.results.pageSize', 'data.results.pageCount',
       'data.results.queryUUID', 'data.results.pinnedListing',
       'data.results.fromRecord', 'data.results.toRecord',
       'data.results.internalTools', 'data.results.typeaheadSuggestion.name',
       'data.results.typeaheadSuggestion.uuid',
       'data.results.typeaheadSuggestion.term',
       'data.results.typeaheadSuggestion.__typename',
       'data.results.geography.name', 'data.results.geography.lbsId',
       'data.results.geography.gaiaId', 'data.results.geography.isGeocoded',
       'data.results.geography.shouldShowMapCentralPin',
       'data.results.geography.__typename',
       'data.results.geography.description',
       'data.results.geography.primaryGeoType',
         'data.results.listings.prices.total.amount',
       'data.results.listings.prices.total.formattedAmount',
       'data.results.listings.prices.total.roundedFormattedAmount',
       'data.results.listings.prices.total.pricePeriodDescription',
       'data.results.listings.prices.total.__typename'})

In [11]:
dauphin = dauphin.drop(columns={'data.results.listings.priceSummary.priceAccurate',
       'data.results.listings.priceSummary.priceTypeId',
        'data.results.listings.priceSummary.pricePeriodDescription',
       'data.results.listings.priceSummary.__typename',
       'data.results.listings.priceSummarySecondary.priceTypeId',
       'data.results.listings.priceSummarySecondary.edapEventJson',
       'data.results.listings.priceSummarySecondary.formattedAmount',
       'data.results.listings.priceSummarySecondary.roundedFormattedAmount',
       'data.results.listings.priceSummarySecondary.pricePeriodDescription',
       'data.results.listings.priceSummarySecondary.__typename',
       'data.results.listings.priceLabel.priceTypeId',
       'data.results.listings.priceLabel.pricePeriodDescription',
       'data.results.listings.priceLabel.__typename',
       'data.results.listings.prices.label',
         'data.results.listings.prices.__typename',
        'data.results.listings.rankedBadges[0].id',
       'data.results.listings.rankedBadges[0].name',
       'data.results.listings.rankedBadges[0].helpText',
       'data.results.listings.rankedBadges[0].__typename',
       'data.results.listings.superlativesBadges[0].id',
       'data.results.listings.superlativesBadges[0].name',
       'data.results.listings.superlativesBadges[0].helpText',
       'data.results.listings.superlativesBadges[0].__typename',
       'data.results.listings.virtualTourBadge.id',
       'data.results.listings.virtualTourBadge.name',
       'data.results.listings.virtualTourBadge.helpText',
       'data.results.listings.virtualTourBadge.__typename',
       'data.results.listings.priceLabel',
       'data.results.listings.prices.total', 'data.results.id',
        'data.results.listings.geoCode.__typename',
       'data.results.listings.amenitiesBadges[0].id',
       'data.results.listings.amenitiesBadges[0].name',
       'data.results.listings.amenitiesBadges[0].helpText',
       'data.results.listings.amenitiesBadges[0].__typename'})

In [12]:
dauphin = dauphin.drop(columns={'data.results.listings.priceSummary.formattedAmount', 'data.results.listings.prices.mainPrice',
                     'data.results.listings.prices.perNight.pricePeriodDescription',
       'data.results.listings.prices.perNight.__typename'})

In [13]:
dauphin = dauphin.drop(columns={'data.results.listings.priceSummary.roundedFormattedAmount',
       'data.results.listings.prices.perNight.amount',
       'data.results.listings.prices.perNight.formattedAmount',
        'data.results.listings.images[0].c6_uri',
       'data.results.listings.images[0].c9_uri',
       'data.results.listings.images[0].mab',
       'data.results.listings.images[0].__typename'})

In [14]:
dauphin = dauphin.drop(columns={'data.results.listings.images[0].altText',
       'data.results.geography.location.latitude',
       'data.results.geography.location.longitude'})

In [15]:
dauphin = dauphin.rename(columns = {'data.results.listings.prices.perNight.roundedFormattedAmount':'cost_night',
       'data.results.listings.geoCode.latitude':'lat',
       'data.results.listings.geoCode.longitude':'lon'})

In [16]:
dauphin

,bedrooms,type,sleeps,pets_allowed,rating,review_count,full_bathrooms,half_bathrooms,cost_night,lat,lon
0,3,House,7,False,4.722222,18,2,0,$105,30.250449,-88.108334
1,3,House,12,False,5.000000,15,2,0,$176,30.251769,-88.149972
2,2,Condo,6,True,4.916666,36,1,0,$145,30.254808,-88.086890
3,2,Condo,7,True,4.846154,13,1,0,$145,30.253945,-88.121327
4,2,Condo,5,False,4.680000,25,2,0,$269,30.249707,-88.129909
...,...,...,...,...,...,...,...,...,...,...,...
124,3,House,8,False,4.857143,7,2,0,$192,30.405478,-88.236325
125,3,House,9,False,4.883333,60,3,0,$269,30.384223,-88.143268
126,3,House,8,True,4.857143,7,2,0,$148,30.408844,-88.250168
127,3,Cottage,8,True,4.500000,2,2,0,$132,30.467141,-88.211213
128,3,House,6,False,0.000000,0,2,0,$225,30.374629,-88.154852

In [17]:
dauphin['cost_night'] = dauphin['cost_night'].str.replace('$', '')

C:\Users\bswil\AppData\Local\Temp\ipykernel_9708\3667116917.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dauphin['cost_night'] = dauphin['cost_night'].str.replace('$', '')

In [18]:
dauphin['cost_night'] = dauphin['cost_night'].str.replace(',', '')

In [19]:
dauphin['cost_night'] = dauphin['cost_night'].astype(int)

In [20]:
dauphin

,bedrooms,type,sleeps,pets_allowed,rating,review_count,full_bathrooms,half_bathrooms,cost_night,lat,lon
0,3,House,7,False,4.722222,18,2,0,105,30.250449,-88.108334
1,3,House,12,False,5.000000,15,2,0,176,30.251769,-88.149972
2,2,Condo,6,True,4.916666,36,1,0,145,30.254808,-88.086890
3,2,Condo,7,True,4.846154,13,1,0,145,30.253945,-88.121327
4,2,Condo,5,False,4.680000,25,2,0,269,30.249707,-88.129909
...,...,...,...,...,...,...,...,...,...,...,...
124,3,House,8,False,4.857143,7,2,0,192,30.405478,-88.236325
125,3,House,9,False,4.883333,60,3,0,269,30.384223,-88.143268
126,3,House,8,True,4.857143,7,2,0,148,30.408844,-88.250168
127,3,Cottage,8,True,4.500000,2,2,0,132,30.467141,-88.211213
128,3,House,6,False,0.000000,0,2,0,225,30.374629,-88.154852

In [21]:
dauphin['half_bathrooms'] = dauphin['half_bathrooms']/2

In [22]:
dauphin['bathrooms'] = dauphin['full_bathrooms']+dauphin['half_bathrooms']

In [23]:
dauphin = dauphin.drop(columns={'full_bathrooms', 'half_bathrooms'})

In [27]:
dauphin

,bedrooms,type,sleeps,pets_allowed,rating,review_count,cost_night,lat,lon,bathrooms
0,3,House,7,False,4.722222,18,105,30.250449,-88.108334,2.0
1,3,House,12,False,5.000000,15,176,30.251769,-88.149972,2.0
2,2,Condo,6,True,4.916666,36,145,30.254808,-88.086890,1.0
3,2,Condo,7,True,4.846154,13,145,30.253945,-88.121327,1.0
4,2,Condo,5,False,4.680000,25,269,30.249707,-88.129909,2.0
...,...,...,...,...,...,...,...,...,...,...
124,3,House,8,False,4.857143,7,192,30.405478,-88.236325,2.0
125,3,House,9,False,4.883333,60,269,30.384223,-88.143268,3.0
126,3,House,8,True,4.857143,7,148,30.408844,-88.250168,2.0
127,3,Cottage,8,True,4.500000,2,132,30.467141,-88.211213,2.0
128,3,House,6,False,0.000000,0,225,30.374629,-88.154852,2.0