In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import json
import seaborn as sns
import re
from IPython.core.display import HTML

In [2]:
fall_2013 = pd.read_csv('../data/fall_2013_weather.csv')
fall_2014 = pd.read_csv('../data/fall_2014_weather.csv')
fall_2015 = pd.read_csv('../data/fall_2015_weather.csv')
fall_2016 = pd.read_csv('../data/fall_2016_weather.csv')
fall_2017 = pd.read_csv('../data/fall_2017_weather.csv')
fall_2018 = pd.read_csv('../data/fall_2018_weather.csv')
fall_2019 = pd.read_csv('../data/fall_2019_weather.csv')
fall_2020 = pd.read_csv('../data/fall_2020_weather.csv')
fall_2021 = pd.read_csv('../data/fall_2021_weather.csv')
fall_2022 = pd.read_csv('../data/fall_2022_weather.csv')

# 2013

In [3]:
fall_2013 = fall_2013.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [4]:
fall_2013['location'] = fall_2013['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2014

In [5]:
fall_2014 = fall_2014.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [6]:
fall_2014['location'] = fall_2014['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2015

In [7]:
fall_2015 = fall_2015.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [8]:
fall_2015['location'] = fall_2015['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2016

In [9]:
fall_2016 = fall_2016.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [10]:
fall_2016['location'] = fall_2016['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2017

In [11]:
fall_2017 = fall_2017.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [12]:
fall_2017['location'] = fall_2017['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2018

In [13]:
fall_2018 = fall_2018.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [14]:
fall_2018['location'] = fall_2018['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2019

In [15]:
fall_2019 = fall_2019.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [16]:
fall_2019['location'] = fall_2019['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2020

In [17]:
fall_2020 = fall_2020.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [18]:
fall_2020['location'] = fall_2020['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2021

In [19]:
fall_2021 = fall_2021.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [20]:
fall_2021['location'] = fall_2021['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2022

In [21]:
fall_2022 = fall_2022.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [22]:
fall_2022['location'] = fall_2022['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# All Fall Weather

In [23]:
fall_weather = pd.merge(fall_2013, fall_2014,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2015,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2016,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2017,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2018,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2019,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2020,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2021,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2022,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')

In [24]:
fall_weather['month_day'] = fall_weather['datetime'].str.slice(-5)

In [25]:
fall_weather['datetime'] = pd.to_datetime(fall_weather["datetime"])

In [26]:
fall_weather['month'] = fall_weather['datetime'].dt.month_name()
fall_weather['month_num'] = fall_weather['datetime'].dt.month
fall_weather['day'] = fall_weather['datetime'].dt.day

In [27]:
fall_weather_avgs = fall_weather.groupby(['location', 'month_num', 'day'])['temp', 'tempmax', 'tempmin', 'humidity', 'windspeed', 'precipprob'].mean().reset_index()

C:\Users\bswil\AppData\Local\Temp\ipykernel_17384\362380495.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fall_weather_avgs = fall_weather.groupby(['location', 'month_num', 'day'])['temp', 'tempmax', 'tempmin', 'humidity', 'windspeed', 'precipprob'].mean().reset_index()

In [28]:
fall_weather_avgs['precipprob'] = fall_weather_avgs['precipprob']/10
fall_weather_avgs = fall_weather_avgs.rename(columns = {'precipprob':'days_with_rain_10_years'})

In [29]:
clear_weather = fall_weather.loc[fall_weather['conditions']=='Clear'].groupby(['location', 'month_num', 'day'])['name'].count().to_frame().reset_index().rename(columns={'name':'days_clear_10_years'})

In [30]:
fall_weather_avgs = pd.merge(fall_weather_avgs, clear_weather,
        on=('location', 'month_num', 'day'),
        how='left')

In [31]:
fall_weather_avgs

,location,month_num,day,temp,tempmax,tempmin,humidity,windspeed,days_with_rain_10_years,days_clear_10_years
0,Dauphin Island,10,7,74.39,84.86,66.50,79.18,11.26,4.0,3
1,Dauphin Island,10,8,74.34,84.19,66.63,75.99,12.10,2.0,6
2,Dauphin Island,10,9,73.35,82.99,65.02,76.46,11.49,4.0,4
3,Dauphin Island,10,10,73.44,82.03,66.40,78.89,12.15,3.0,3
4,Dauphin Island,10,11,72.39,82.62,64.00,79.81,8.97,4.0,5
5,Dauphin Island,10,12,71.48,81.23,62.93,83.73,9.39,2.0,5
6,Dauphin Island,10,13,72.90,82.60,63.41,80.52,8.33,3.0,4
7,Dauphin Island,10,14,70.71,81.42,60.92,76.52,8.03,2.0,7
8,Gulfport Beach,10,7,76.35,86.73,68.87,75.27,15.05,3.0,6
9,Gulfport Beach,10,8,75.77,85.68,68.22,74.23,15.97,3.0,6
10,Gulfport Beach,10,9,75.04,84.05,66.39,74.30,13.61,3.0,4
11,Gulfport Beach,10,10,76.42,84.23,69.31,74.19,15.84,2.0,3
12,Gulfport Beach,10,11,75.38,84.03,67.58,75.08,13.42,2.0,5
13,Gulfport Beach,10,12,74.29,82.64,66.37,77.74,11.78,3.0,5
14,Gulfport Beach,10,13,75.43,84.46,66.77,76.94,11.84,4.0,3
15,Gulfport Beach,10,14,72.98,82.34,64.09,71.94,12.03,2.0,6
16,Isle of Palms,10,7,73.51,82.14,66.84,88.53,9.14,8.0,1
17,Isle of Palms,10,8,73.50,81.28,67.28,86.83,13.03,6.0,1
18,Isle of Palms,10,9,71.83,79.24,65.46,81.98,10.27,3.0,2
19,Isle of Palms,10,10,71.75,79.86,65.83,83.89,10.65,4.0,3
20,Isle of Palms,10,11,72.24,79.75,65.97,83.65,11.41,3.0,2
21,Isle of Palms,10,12,71.82,80.22,64.94,82.97,7.54,0.0,2
22,Isle of Palms,10,13,72.01,80.94,64.79,84.73,8.83,2.0,4
23,Isle of Palms,10,14,71.47,80.33,63.77,82.72,9.02,2.0,5
24,Miramar Beach,10,7,77.73,85.79,70.55,73.05,12.65,4.0,4
25,Miramar Beach,10,8,78.25,86.50,70.98,68.92,12.94,3.0,4
26,Miramar Beach,10,9,77.13,84.64,70.25,70.78,11.69,2.0,4
27,Miramar Beach,10,10,76.42,83.35,69.57,71.68,13.45,3.0,5
28,Miramar Beach,10,11,76.19,83.22,68.78,71.24,10.28,1.0,7
29,Miramar Beach,10,12,76.56,84.26,69.18,72.31,9.97,2.0,4
30,Miramar Beach,10,13,76.93,84.43,70.07,70.81,10.42,2.0,5
31,Miramar Beach,10,14,75.51,83.76,67.72,68.38,10.26,2.0,6
32,Orange Beach,10,7,74.91,84.23,67.29,80.54,12.79,3.0,2
33,Orange Beach,10,8,75.11,84.67,67.51,76.45,13.16,1.0,7
34,Orange Beach,10,9,74.67,83.37,66.69,76.24,12.65,2.0,4
35,Orange Beach,10,10,74.38,82.32,67.44,77.74,12.96,3.0,3
36,Orange Beach,10,11,73.93,82.38,66.08,77.34,11.20,2.0,3
37,Orange Beach,10,12,73.26,82.49,64.07,80.86,10.83,2.0,2
38,Orange Beach,10,13,73.87,83.61,64.63,79.71,12.37,4.0,2
39,Orange Beach,10,14,71.85,81.90,61.79,76.78,10.89,2.0,6
40,Panama City Beach,10,7,76.71,84.46,69.65,74.76,14.05,3.0,5
41,Panama City Beach,10,8,77.27,85.08,70.28,72.52,14.48,7.0,2
42,Panama City Beach,10,9,76.08,83.46,69.61,73.21,13.20,1.0,5
43,Panama City Beach,10,10,74.93,83.03,67.80,73.11,17.00,5.0,5
44,Panama City Beach,10,11,74.86,81.94,66.72,72.56,12.77,4.0,5
45,Panama City Beach,10,12,75.03,83.04,67.77,74.35,12.65,2.0,3
46,Panama City Beach,10,13,75.54,83.62,67.66,73.25,12.57,2.0,6
47,Panama City Beach,10,14,74.32,83.40,65.75,72.40,13.74,2.0,7
48,Tybee Island,10,7,74.60,83.77,67.85,82.84,11.07,7.0,1
49,Tybee Island,10,8,74.75,83.10,68.24,82.37,15.51,5.0,3
50,Tybee Island,10,9,73.38,81.75,67.05,80.41,12.68,4.0,2
51,Tybee Island,10,10,73.00,81.17,66.82,80.13,12.61,4.0,4
52,Tybee Island,10,11,73.03,81.42,66.14,79.14,12.30,3.0,2
53,Tybee Island,10,12,72.33,82.31,64.20,77.59,9.17,1.0,3
54,Tybee Island,10,13,73.04,82.87,65.22,78.72,10.64,2.0,4
55,Tybee Island,10,14,72.43,81.32,65.06,77.87,10.95,2.0,4