In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import json
import seaborn as sns
import re
from IPython.core.display import HTML

In [2]:
fall_2013 = pd.read_csv('../data/fall_2013_weather.csv')
fall_2014 = pd.read_csv('../data/fall_2014_weather.csv')
fall_2015 = pd.read_csv('../data/fall_2015_weather.csv')
fall_2016 = pd.read_csv('../data/fall_2016_weather.csv')
fall_2017 = pd.read_csv('../data/fall_2017_weather.csv')
fall_2018 = pd.read_csv('../data/fall_2018_weather.csv')
fall_2019 = pd.read_csv('../data/fall_2019_weather.csv')
fall_2020 = pd.read_csv('../data/fall_2020_weather.csv')
fall_2021 = pd.read_csv('../data/fall_2021_weather.csv')
fall_2022 = pd.read_csv('../data/fall_2022_weather.csv')

# 2013

In [3]:
fall_2013 = fall_2013.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [4]:
fall_2013['location'] = fall_2013['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2014

In [5]:
fall_2014 = fall_2014.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [6]:
fall_2014['location'] = fall_2014['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2015

In [7]:
fall_2015 = fall_2015.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [8]:
fall_2015['location'] = fall_2015['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2016

In [9]:
fall_2016 = fall_2016.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [10]:
fall_2016['location'] = fall_2016['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2017

In [11]:
fall_2017 = fall_2017.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [12]:
fall_2017['location'] = fall_2017['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2018

In [13]:
fall_2018 = fall_2018.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [14]:
fall_2018['location'] = fall_2018['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2019

In [15]:
fall_2019 = fall_2019.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [16]:
fall_2019['location'] = fall_2019['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2020

In [17]:
fall_2020 = fall_2020.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [18]:
fall_2020['location'] = fall_2020['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2021

In [19]:
fall_2021 = fall_2021.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [20]:
fall_2021['location'] = fall_2021['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# 2022

In [21]:
fall_2022 = fall_2022.drop(columns={'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'snow', 'snowdepth', 'winddir', 'sealevelpressure', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'moonphase', 'icon', 'stations', 'windgust',
        'description', 'sunrise', 'sunset', 'cloudcover', 'precip', 'precipcover'})

In [22]:
fall_2022['location'] = fall_2022['name'].apply(lambda x: 'Gulfport Beach' if x == 39501 else ('Isle of Palms' if x == 29451 else 'Panama City Beach' if x == 32407 else 'Dauphin Island' if x == 36528 else 'Orange Beach' if x == 36561 else 'Miramar Beach' if x == 32550 else 'Tybee Island'))

# All Fall Weather

In [23]:
fall_weather = pd.merge(fall_2013, fall_2014,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2015,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2016,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2017,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2018,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2019,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2020,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2021,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')
fall_weather = pd.merge(fall_weather, fall_2022,
        on=('name', 'datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precipprob', 'preciptype', 'windspeed', 'conditions', 'location'),
        how='outer')

In [24]:
fall_weather['month_day'] = fall_weather['datetime'].str.slice(-5)

In [25]:
fall_weather['datetime'] = pd.to_datetime(fall_weather["datetime"])

In [26]:
fall_weather['month'] = fall_weather['datetime'].dt.month_name()
fall_weather['month_num'] = fall_weather['datetime'].dt.month
fall_weather['day'] = fall_weather['datetime'].dt.day

In [27]:
fall_weather_avgs = fall_weather.groupby(['location', 'month_num', 'day'])['temp', 'tempmax', 'tempmin', 'humidity', 'windspeed', 'precipprob'].mean().reset_index()

C:\Users\bswil\AppData\Local\Temp\ipykernel_20648\362380495.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fall_weather_avgs = fall_weather.groupby(['location', 'month_num', 'day'])['temp', 'tempmax', 'tempmin', 'humidity', 'windspeed', 'precipprob'].mean().reset_index()

In [28]:
fall_weather_avgs['precipprob'] = fall_weather_avgs['precipprob']/10
fall_weather_avgs = fall_weather_avgs.rename(columns = {'precipprob':'days_with_rain_10_years'})

In [29]:
clear_weather = fall_weather.loc[fall_weather['conditions']=='Clear'].groupby(['location', 'month_num', 'day'])['name'].count().to_frame().reset_index().rename(columns={'name':'days_clear_10_years'})

In [30]:
fall_weather_avgs = pd.merge(fall_weather_avgs, clear_weather,
        on=('location', 'month_num', 'day'),
        how='left')

In [31]:
fall_weather_avgs['days_with_rain_10_years'] = fall_weather_avgs['days_with_rain_10_years']*10
fall_weather_avgs['days_clear_10_years'] = fall_weather_avgs['days_clear_10_years']*10

In [32]:
fall_weather_averages = fall_weather_avgs.groupby(['location'])['temp', 'humidity', 'windspeed', 'days_with_rain_10_years', 'days_clear_10_years'].mean().reset_index()

C:\Users\bswil\AppData\Local\Temp\ipykernel_20648\489088346.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fall_weather_averages = fall_weather_avgs.groupby(['location'])['temp', 'humidity', 'windspeed', 'days_with_rain_10_years', 'days_clear_10_years'].mean().reset_index()

In [33]:
fall_weather_averages

,location,temp,humidity,windspeed,days_with_rain_10_years,days_clear_10_years
0,Dauphin Island,72.87500,78.88750,10.21500,30.00,46.25
1,Gulfport Beach,75.20750,74.96125,13.69250,27.50,47.50
2,Isle of Palms,72.26625,84.41250,9.98625,35.00,25.00
3,Miramar Beach,76.84000,70.89625,11.45750,23.75,48.75
4,Orange Beach,73.99750,78.20750,12.10625,23.75,36.25
5,Panama City Beach,75.59250,73.27000,13.80750,32.50,47.50
6,Tybee Island,73.32000,79.88375,11.86625,35.00,28.75

In [34]:
clear_weather

             location  month_num  day  days_clear_10_years
0      Dauphin Island         10    7                    3
1      Dauphin Island         10    8                    6
2      Dauphin Island         10    9                    4
3      Dauphin Island         10   10                    3
4      Dauphin Island         10   11                    5
5      Dauphin Island         10   12                    5
6      Dauphin Island         10   13                    4
7      Dauphin Island         10   14                    7
8      Gulfport Beach         10    7                    6
9      Gulfport Beach         10    8                    6
10     Gulfport Beach         10    9                    4
11     Gulfport Beach         10   10                    3
12     Gulfport Beach         10   11                    5
13     Gulfport Beach         10   12                    5
14     Gulfport Beach         10   13                    3
15     Gulfport Beach         10   14                    6
16      Isle of Palms         10    7                    1
17      Isle of Palms         10    8                    1
18      Isle of Palms         10    9                    2
19      Isle of Palms         10   10                    3
20      Isle of Palms         10   11                    2
21      Isle of Palms         10   12                    2
22      Isle of Palms         10   13                    4
23      Isle of Palms         10   14                    5
24      Miramar Beach         10    7                    4
25      Miramar Beach         10    8                    4
26      Miramar Beach         10    9                    4
27      Miramar Beach         10   10                    5
28      Miramar Beach         10   11                    7
29      Miramar Beach         10   12                    4
30      Miramar Beach         10   13                    5
31      Miramar Beach         10   14                    6
32       Orange Beach         10    7                    2
33       Orange Beach         10    8                    7
34       Orange Beach         10    9                    4
35       Orange Beach         10   10                    3
36       Orange Beach         10   11                    3
37       Orange Beach         10   12                    2
38       Orange Beach         10   13                    2
39       Orange Beach         10   14                    6
40  Panama City Beach         10    7                    5
41  Panama City Beach         10    8                    2
42  Panama City Beach         10    9                    5
43  Panama City Beach         10   10                    5
44  Panama City Beach         10   11                    5
45  Panama City Beach         10   12                    3
46  Panama City Beach         10   13                    6
47  Panama City Beach         10   14                    7
48       Tybee Island         10    7                    1
49       Tybee Island         10    8                    3
50       Tybee Island         10    9                    2
51       Tybee Island         10   10                    4
52       Tybee Island         10   11                    2
53       Tybee Island         10   12                    3
54       Tybee Island         10   13                    4
55       Tybee Island         10   14                    4